header.section-header
  .container
    .header-wrap.d-flex.align-items-center.justify-content-between
      .header-logo
        a(href="index.html")
          img(src="./assets/images/logo-light.png" alt="")

      form(action="#").header-search.d-flex
        input(type="text" placeholder="Bạn cần tìm gì ?")
        button(type="submit").d-flex.align-items-center.justify-content-center
          img(src="./assets/icons/icon-search-white.svg", alt="")

      .header-seen-products.flex.items-center#seen-products 
        |Sản phẩm đã xem
        img(src="./assets/icons/icon-caret-down-white.svg", alt="").icon-caret
        .seen-products-wrapper
          .d-flex.align-items-center.justify-content-center.flex-wrap 
            a(href="#").seen-products-item
              img(src="./assets/images/image-sample-product.jpg", alt="")
            a(href="#").seen-products-item
              img(src="./assets/images/image-sample-product.jpg", alt="")

      a(href="tel: 0123456789").header-contact
        strong 0123456789
        |Liên hệ

      a(href="#").header-collaboration.header-btn
        img(src="./assets/icons/icon-collaboration-white.svg", alt="")

      .header-wishlist.header-btn
        .circle-notification 2
        img(src="./assets/icons/icon-heart-white.svg", alt="")

      .header-carts.header-btn
        .circle-notification 99
        img(src="./assets/icons/icon-shopping-bag-white.svg", alt="")

      .header-account.header-btn
        img(src="./assets/icons/icon-user-white.svg", alt="")

      .header-logout.header-btn
        img(src="./assets/icons/icon-logout-white.svg", alt="")
        
