header.header-mobile 
  .container 
    .header-mobile-wrapper.d-flex.align-items-center.justify-content-between
      .header-logo
        a(href="index.html")
          img(src="./assets/images/logo.png" alt="")

      .header-btn.menu
        .header-search.d-flex
          button(type="submit").d-flex.align-items-center.justify-content-center
            img(src="./assets/icons/icon-search-white.svg", alt="")

      .header-action.d-flex.align-items-center
        //- a(href="become-teacher.html").header-btn.tooltip-wrapper
        //-   .tooltip-content.bottom-center Trở thành giảng viên 
        //-   img(src="./assets/icons/icon-collaboration-white.svg", alt="")
        //- .header-btn.tooltip-wrapper
        //-   .tooltip-content.bottom-center Tài khoản
        //-   img(src="./assets/icons/icon-user-white.svg", alt="")
        //- .header-btn.tooltip-wrapper
        //-   .tooltip-content.bottom-center Giỏ hàng
        //-   .circle-notification 99
        //-   img(src="./assets/icons/icon-shopping-bag-white.svg", alt="")
        //- .header-btn.tooltip-wrapper
        //-   .tooltip-content.bottom-center Yêu thích
        //-   .circle-notification 2
        //-   img(src="./assets/icons/icon-heart-white.svg", alt="")
        //- .header-btn.menu 
        //-   img(src="./assets/icons/icon-bar-white.svg", alt="")

