nav.nav-mobile 
  .container
    .nav-wrapper.d-flex.align-items-center.justify-content-between 
      a(href="#").nav-item    
        .header-btn
          img(src="./assets/icons/icon-home-pink.svg", alt="")
        .nav-text Trang chủ
      .nav-item        
        .header-btn.menu 
          img(src="./assets/icons/icon-bar-pink.svg", alt="")
        .nav-text Danh mục
      a(href="#").nav-item    
        .header-btn
          img(src="./assets/icons/icon-shopping-bag-pink.svg", alt="")
        .nav-text Cửa hàng
      a(href="#").nav-item        
        .header-btn
          .circle-notification 2
          img(src="./assets/icons/icon-heart-pink.svg", alt="")
        .nav-text Yêu thích
      a(href="#").nav-item        
        .header-btn
          img(src="./assets/icons/icon-user-pink.svg", alt="")
        .nav-text Cá nhân