nav.nav-mobile 
  .nav-wrapper.d-flex.align-items-center.justify-content-between 
    .nav-item    
      .header-btn
        .circle-notification 99
        img(src="./assets/icons/icon-shopping-bag-pink.svg", alt="")
      .nav-text Giỏ hàng
    .nav-item        
      .header-btn
        .circle-notification 2
        img(src="./assets/icons/icon-heart-pink.svg", alt="")
      .nav-text Yêu thích
    .nav-item        
      .header-btn.menu 
        img(src="./assets/icons/icon-bar-pink.svg", alt="")
      .nav-text Menu
    .nav-item        
      .header-btn
        img(src="./assets/icons/icon-user-pink.svg", alt="")
      .nav-text Tài khoản