.course-detail-lesson {
  .lesson-overview-wrapper {
    margin-bottom: 15px;
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start !important;
    }
    .course-sub-title {
      margin-bottom: 0;
      @media (max-width: 575px) {
        margin-bottom: 15px;
      }
    }
    .lesson-overview {
      .total-item {
        margin-left: 10px;
        img {
          width: 15px;
          margin-right: 10px;
        }
        span {
          font-size: 14px;
          strong {
            font-weight: 600;
            color: $pink;
          }
        }
      }
    }
  }

  .lesson-lists-wrapper {
    .list-single-lesson {
      .list-header {
        border: 1px solid $border;
        border-radius: 4px;
        padding: 15px 20px;
        @media (max-width: 575px) {
          padding: 15px;
        }
        .list-name {
          font-size: 14px;
          text-transform: uppercase;
          margin: 0;
          img {
            width: 15px;
            margin-right: 5px;
          }
        }
        .list-total {
          color: $gray;
          font-size: 14px;
          margin: 0;
        }
      }
      .list-main {
        .list-item {
          padding: 10px 0;
          &:not(:last-of-type) {
            border-bottom: 1px solid $border;
          }
          .item-image {
            flex: 0 0 200px;
            max-width: 200px;
            margin-right: 20px;
            @include centerImage;
            border-radius: 30px;
            overflow: hidden;
            @media (max-width: 768px) {
              flex: 0 0 100%;
              max-width: 100%;
              margin: 0 0 15px 0;
            }
          }
          .item-info {
            flex: 1;
            padding: 5px;
            .item-title {
              font-size: 18px;
              color: $gray;
              font-weight: 400;
              margin-bottom: 10px;
              display: block;
            }
            ul {
              li {
                margin-bottom: 10px;
                .number {
                  max-width: 20px;
                  flex: 0 0 20px;
                  height: 20px;
                  line-height: 20px;
                  background: $gray-light;
                  border-radius: 50%;
                  text-align: center;
                  color: $black;
                  margin-right: 10px;
                  font-size: 12px;
                }
                .text {
                  font-size: 14px;
                  color: $black;
                }
              }
            }
          }
        }
      }
    }
  }
}