.course-detail-result {
  .owl-dots {
    margin: 30px 0;
  }
  .result-wrapper {
    .new-image {
      height: 250px;
    }
    .result-item {
      &:hover {
        .result-image img {
          transform: scale(1.1)
        }
        .result-title {
          color: $primary;
        }
      }
      .result-image {
        @include centerImage;
        overflow: hidden;
        img {
          transition: 0.3s ease;
        }
      }
      .result-title {
        font-size: 14px;
        margin-bottom: 5px;
        color: $black;
        @include ellipsis(2);
      }
      .result-des {
        font-size: 12px;
        color: $gray;
        margin-bottom: 10px;
        @include ellipsis(2);
      }
    }
  }
}

.result-modal {
  .modal-dialog {
    max-width: 400px;
    width: 100%;
  }
}