.pagination-wrapper {
  .pagination-item {
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
    border: 1px solid $border;
    color: $gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: 14px;
    @media (max-width: 575px) {
      width: 25px;
      height: 25px;
      font-size: 12px;
    }
    cursor: pointer;
    .arrow-right,
    .arrow-left {
      font-size: 16px;
    }
    &:hover {
      border-color: $primary;
      color: $primary;
    }
    &.active {
      background: $primary;
      border-color: $primary;
      color: $white;
    }
  }
}