.pagination-wrapper {
  .pagination-item {
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
    border: 1px solid $border;
    color: $gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: 14px;
    @media (max-width: 575px) {
      width: 25px;
      height: 25px;
      font-size: 12px;
    }
    cursor: pointer;
    &.arrow-right,
    &.arrow-left {
      font-size: 16px;
      border-color: transparent;
      position: relative;
      z-index: 3;
      background: $white;
      
      &::before,
      &::after {
        border-radius: 30px;
        pointer-events: none;
        position: absolute;
        content: '';
        z-index: -1;
      }
      &::before {
        top: -0.5px;
        left: -0.5px;
        background: $linear-primary;
        width: calc(100% + 1px);
        height: calc(100% + 1px);
      }
      &::after {
        top: 0.5px;
        left: 0.5px;
        background: $white;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
      }
      &:hover,
      &.active {
        border-color: transparent;
        background: transparent;
      }
    }
    &:hover {
      border-color: $blue;
      color: $blue;
    }
    &.active {
      background: $blue;
      border-color: $blue;
      color: $white;
    }
  }
}