.product-component {
  margin-bottom: 15px;

  &:hover {
    .product-image {
      img {
        transform: scale(1.1);
      }
      .product-button-action {
        opacity: 1;
        pointer-events: unset;
        .btn {
          transform: translateY(0px);
        }
      }
    }
    .product-title {
      color: $primary;
    }
  }
  .product-image {
    margin-bottom: 10px;
    border-radius: 4px;
    height: 170px;
    overflow: hidden;
    position: relative;
    @include centerImage;
    @media (max-width: 575px) {
      height: auto;
    }
    img {
      transition: 0.3s ease;
    }
    .product-sale-label {
      position: absolute;
      padding: 4px 8px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 10px;
      right: 10px;
      top: 10px;
      z-index: 4;
      text-transform: uppercase;
      background: $yellow-light;
      color: $white;
    }
    .product-button-action {
      z-index: 5;
      background: rgba(0,0,0,0.2);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s ease;
      opacity: 0;
      pointer-events: none;
      .btn {
        background: $white;
        color: $black;
        font-size: 14px;
        transition: 0.3s ease;
        transform: translateY(10px);
      }
    }
    .product-favorite {
      position: absolute;
      padding: 4px 8px;
      right: 5px;
      top: 5px;
      z-index: 4;
      background: $white;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s ease;
      display: flex;
      &:hover {
        opacity: 1
      }
      img {
        width: 15px;
        margin: auto;
        height: auto;
      }
    }
    .product-label {
      position: absolute;
      padding: 4px 8px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 10px;
      left: 10px;
      top: 10px;
      z-index: 4;
      text-transform: uppercase;
      &.red {
        background: $red;
        color: $white;
      }
      &.green {
        background: $green;
        color: $white;
      }
    }
  }
  .line {
    margin: 15px 0;
  }
  .product-rate {
    margin-top: 15px;
    font-size: 12px;
    color: $gray;
    img {
      width: 15px;
      margin-right: 5px;
      transform: translateY(-2px);
    }
  }
  .product-id {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .product-title {
    font-size: 14px;
    color: $black;
    height: 40px;
    text-decoration: none;
    @include ellipsis(2);
  }
  .product-price {
    font-size: 14px;
    font-weight: 600;
  }
  .product-old-price {
    font-size: 12px;
    del {
      color: $gray;
      margin-right: 5px;
    }
    strong {
      color: $red;
    }
    
  }
  .product-tags {
    .tag-item {
      font-size: 9px;
      font-weight: bold;
      background: $gray-light;
      color: $gray;
      padding: 3px 6px;
      border-radius: 4px;
      margin: 0 5px 5px 0;
    }
  }
}