.section-banner {
  .section-wrapper {
    border-radius: 15px;
    overflow: hidden;
  }
  .owl-carousel {
    position: relative;
    .owl-dots {
      position: absolute;
      z-index: 3;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
    }
  }
  .col-info {
    padding-right: 0;
  }
  .col-banner {
    padding-left: 0;
  }
  .col-info, .col-banner {
    @media (max-width: 991px) {
      padding: 0 15px;
    }
  }
  .banner-item {
    height: 100%;
    &.info {
      padding: 25px 30px;
      background: $black-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 991px) {
        background: $white;
      }
    }
    .banner-btn-group {
      margin-top: 10px;
      @media (max-width: 991px) {
        justify-content: center;
      }
    }
    .banner-title {
      font-size: 24px;
      margin-bottom: 10px;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;


      @media (max-width: 991px) {
        color: $black;
        text-align: center;
      }
    }
    .banner-des {
      font-size: 14px;
      color: $gray-light;
      margin-bottom: 10px;

      @media (max-width: 991px) {
        color: $black-light;
        text-align: center;
      }
    }
    .banner-carousel-item {
      height: 280px;
      @include centerImage;
    }
  }
}