.user-sidebar-component {
  @include box-shadow;
  border-radius: 5px;
  padding: 10px;
  background: $white;
  height: 100%;
  .user-avatar {
    border-radius: 50%;
    @include centerImage;
    overflow: hidden;
    max-width: 120px;
    margin: 15px auto 10px;
    border: 1px solid $border;
    position: relative;
    .avatar-upload {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      transition: 0.3s ease;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
      input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        opacity: 0;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .user-name {
    text-align: center;
    color: $blue;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .user-sidebar-list {
    .list-item {
      display: block;
      color: $black;
      padding: 10px 5px;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
      img {
        width: 18px;
        margin-left: 5px;
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid $border;
      }
    }
  }
}