footer.footer {
	margin-top: 50px;
	background: $navy-blue;

	.footer-wrapper {
		position: relative;
		padding: 50px 0 30px;

		.footer-register {
			padding: 30px 25px;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			transform: translateY(-50%);
			background: $white;
			border-radius: 4px;
			border: 1px solid $border;
			@media (max-width: 575px) {
				padding: 20px 15px;
			}
			h3 {
				font-size: 24px;
				margin: 0;
				@media (max-width: 991px) {
					margin-bottom: 15px;
				}
			}
			.footer-form {
				border: 1px solid $border;
				border-radius: 4px;
				overflow: hidden;
				input, button {
					height: 50px;
					@media (max-width: 575px) {
						height: 40px;
						font-size: 14px;
					}
				}
				input {
					padding: 0 15px; 
					flex: 1;
					@media (max-width: 575px) {
						padding: 0 10px;
					}
				}
				button {
					flex: 0 0 140px;
					max-width: 140px;
					color: $white;
					cursor: pointer;
					background: $yellow-light;
					transition: 0.3s ease;
					white-space: nowrap;
					padding: 10px;
					@media (max-width: 575px) {
						flex: 0 0 auto;
						max-width: auto;
					}
					&:hover {
						background: darken($yellow-light, 5%);
					}
				}
			}
		}
	}

	.footer-logo {
		width: 150px;
		margin: 0 auto 50px;
		img {
			width: 100%;
		}
	}
	p, a {
		color: $white;
		text-align: center;
	}
	h4 {
		font-size: 16px;
		color: $white;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 15px 0;
		position: relative;
		margin-bottom: 20px;
		font-weight: 400;
	}

	.footer-socials {
		position: relative;
		margin: 50px 0;
		// &::before {
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 1px;
		// 	background: $border;
		// 	transform: translateY(-50%);
		// 	content: '';
		// 	z-index: 1;
		// }
		.socials-item-wrapper {
			position: relative;
			z-index: 2;
		}
		.social-item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			margin: 0 10px;
			img {
				width: 80%;
			}
		}
	}
	.get-app-group {
		.get-app-item {
			margin: 0 10px 15px 0;

			img {
				width: 100%;
				max-width: 140px;
			}
		}
	}
	ul {
		li {
			padding: 5px 0;
			&.logo {
				img {
					width: 80px;
					margin: 0 0 15px 0;
				}
			}
			img {
				width: 10px;
				margin-right: 10px;
			}
			a {
				text-decoration: none;
				text-align: left;
				font-size: 14px;
			}
		}
	}
	.footer-copy-right {
		margin: 0;
		padding: 10px 0;
		font-size: 14px;
		background: $linear-primary;
	}
}