-
  const dataNews = [
    {
      link: '#',
      image: './assets/images/image-sample-news.jpg',
      title: 'Phối màu tông cam và thêu hoa với mũi đâm xô',
      des: 'Dù biết hôm nay các chị em đã ngập trong nào hoa, nào quà, nào trà sữa, phấn son... nhưng Tiệm vẫn ...',
      type: 'horizontal',
    },
    {
      link: '#',
      image: './assets/images/image-sample-news.jpg',
      title: 'HƯỚNG DẪN THÊU LÁ CÂY BẰNG CÁC MŨI CƠ BẢN (PHẦN 2)',
      des: 'Chẳng ai thích thêu đi thêu lại một kiểu lá cơ bản cả, vậy nên hôm nay Tiệm sẽ cùng mọi người tiếp tục...',
      type: 'horizontal',
    },
    {
      link: '#',
      image: './assets/images/image-sample-news.jpg',
      title: 'Thêu hoa tuyết nổi bật trên nền vải đỏ rực rỡ (có mẫu in)',
      des: 'Hoa tuyết còn có tên tiếng Anh là Snow flower. Loại hoa có thể hơi xa lạ với chúng mình, nhưng tạm ...',
      type: 'horizontal',
    },
    {
      link: '#',
      image: './assets/images/image-sample-news.jpg',
      title: 'TẬP THÊU HOA BẰNG 2 MŨI THÊU NỔI ĐƠN GIẢN (có mẫu in)',
      des: 'Sự kết hợp bắt mắt của 2 mũi thêu nổi là mũi biến thể của mũi woven picot (hay còn gọi là woven tre...',
      type: 'horizontal',
    },
    {
      link: '#',
      image: './assets/images/image-sample-news.jpg',
      title: 'Hướng dẫn thêu ngựa vằn dễ thương (có mẫu in)',
      des: 'Hai mũi thêu chính Tiệm sử dụng để thêu là mũi móc xích và Turkey stitch. Xem hướng dẫn thêu chi ti...',
      type: 'horizontal',
    },
  ]

  const dataSingleNew = [
    {
      link: '#',
      image: './assets/images/image-sample-news.jpg',
      title: 'Phối màu tông cam và thêu hoa với mũi đâm xô',
      des: 'Dù biết hôm nay các chị em đã ngập trong nào hoa, nào quà, nào trà sữa, phấn son... nhưng Tiệm vẫn ...',
      type: 'vertical',
    },
  ]