-
  const dataCategory = [
    {
      id: 'san-pham-noi-bat-menu',
      title: 'Sản phẩm nổi bật',
      subMenu: [],
      link: '#',
    },
    {
      id: 'san-pham-khuyen-mai-menu',
      title: 'Sản phẩm khuyến mãi',
      subMenu: [],
      link: '#',
    },
    {
      id: 'nguyen-lieu-theu-menu',
      title: 'Nguyên liệu thêu',
      subMenu: [1,2,3],
      link: '#',
    },
    {
      id: 'vai-cac-loai-menu',
      title: 'Vải các loại',
      subMenu: [1,2,3,4,5],
      link: '#',
    },
    {
      id: 'do-may-menu',
      title: 'Đồ may',
      subMenu: [1,2],
      link: '#',
    },
    {
      id: 'van-ban-phap-quy-menu',
      title: 'Văn bản pháp quy',
      subMenu: [1,2,3],
      link: '#',
    },
    {
      id: 'dung-cu-len-choc-menu',
      title: 'Dụng cụ len chọc',
      subMenu: [],
      link: '#',
    },
    {
      id: 'nguyen-lieu-khac-cao-su-menu',
      title: 'Nguyên liệu khắc cao su Rubber block printing',
      subMenu: [1,2,3,4,5,6],
      link: '#',
    },
    {
      id: 'nguyen-lieu-handmade-menu',
      title: 'Nguyên liệu handmade khác',
      subMenu: [1,2,3,4],
      link: '#',
    },
    {
      id: 'mau-rap-menu',
      title: 'Mẫu rập',
      subMenu: [],
      link: '#',
    },
  ]

  const dataMenu = [
    {
      link: '#',
      title: 'Trang chủ',
      child: [
        {
          id: 'nguyen-lieu-theu-2-menu',
          link: '#',
          title: 'Nguyên liệu thêu',
          child: [
            { link: '#', title: 'Chỉ thêu'},
            { link: '#', title: 'Khung thêu'},
            { link: '#', title: 'Kit tập thêu'},
            { link: '#', title: 'Phụ kiện thêu'},
            { link: '#', title: 'Bộ dụng cụ thêu đầy đủ'},
            { link: '#', title: 'Dụng cụ thê nỏi (punch needle)'},
          ],
        },
        {
          id: 'vai-cac-loai-2-menu',
          link: '#',
          title: 'Vải các loại',
          child: [
            { link: '#', title: 'Phụ kiện may'},
          ],
        },
        {
          id: 'dung-cu-2-menu',
          link: '#',
          title: 'Dụng cụ len chọc (Needle Felting)',
          child: [],
        },
      ],
    },
    {
      link: '#',
      title: 'Giới thiệu',
      child: [],
    },
    {
      link: '#',
      title: 'Kiến thức Handmade',
      child: [
        {
          id: 'nguyen-lieu-theu-3-menu',
          link: '#',
          title: 'Nguyên liệu thêu',
          child: [
            { link: '#', title: 'Chỉ thêu'},
            { link: '#', title: 'Khung thêu'},
            { link: '#', title: 'Kit tập thêu'},
            { link: '#', title: 'Phụ kiện thêu'},
            { link: '#', title: 'Bộ dụng cụ thêu đầy đủ'},
            { link: '#', title: 'Dụng cụ thê nỏi (punch needle)'},
          ],
        },
        {
          id: 'vai-cac-loai-3-menu',
          link: '#',
          title: 'Vải các loại',
          child: [
            { link: '#', title: 'Phụ kiện may'},
          ],
        },
        {
          id: 'dung-cu-3-menu',
          link: '#',
          title: 'Dụng cụ len chọc (Needle Felting)',
          child: [],
        },
      ],
    },
    {
      link: '#',
      title: 'Liên hệ',
      child: [],
    },
    {
      link: '#',
      title: 'Khuyến mãi hot',
      child: [],
    },
  ]