-
  const dataProduct = [
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp BDF',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '200,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp ABC',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '800,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'WhatsApp Fake Chat Generator Script',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Golo - Directory & Listening HTML Template',
      label: { title: 'nổi bật', color: 'blue' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học video nâng cao cho người mới bắt đầu',
      label: { title: '', color: '' },
      price: { isSale: false, value: '500,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp BDF',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '200,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp ABC',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '800,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'WhatsApp Fake Chat Generator Script',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Golo - Directory & Listening HTML Template',
      label: { title: 'nổi bật', color: 'blue' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học video nâng cao cho người mới bắt đầu',
      label: { title: '', color: '' },
      price: { isSale: false, value: '500,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
  ]

  const dataCourseLists = [
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp BDF',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '200,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp ABC',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '800,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'WhatsApp Fake Chat Generator Script',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Golo - Directory & Listening HTML Template',
      label: { title: 'nổi bật', color: 'blue' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học video nâng cao cho người mới bắt đầu',
      label: { title: '', color: '' },
      price: { isSale: false, value: '500,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp BDF',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '200,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp ABC',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '800,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'WhatsApp Fake Chat Generator Script',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Golo - Directory & Listening HTML Template',
      label: { title: 'nổi bật', color: 'blue' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học video nâng cao cho người mới bắt đầu',
      label: { title: '', color: '' },
      price: { isSale: false, value: '500,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp BDF',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '200,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học khởi nghiệp ABC',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '800,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'WhatsApp Fake Chat Generator Script',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Golo - Directory & Listening HTML Template',
      label: { title: 'nổi bật', color: 'blue' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'course',
      link: '#',
      title: 'Khoá học video nâng cao cho người mới bắt đầu',
      label: { title: '', color: '' },
      price: { isSale: false, value: '500,000' },
      tags: ['Đăng ký ngay'],
      image: './assets/images/image-sample-course.jpg',
    },

  ]

  const dataProductLists = [
    {
      type: 'product',
      link: '#',
      title: 'Khoá học khởi nghiệp BDF',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '200,000' },
      tags: [],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'product',
      link: '#',
      title: 'Khoá học khởi nghiệp ABC',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: false, value: '800,000' },
      tags: [],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'product',
      link: '#',
      title: 'WhatsApp Fake Chat Generator Script',
      label: { title: 'hot', color: 'pink' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: [],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'product',
      link: '#',
      title: 'Golo - Directory & Listening HTML Template',
      label: { title: 'nổi bật', color: 'blue' },
      price: { isSale: true, oldValue: '1,000,000', value: '900,000' },
      tags: [],
      image: './assets/images/image-sample-course.jpg',
    },
    {
      type: 'product',
      link: '#',
      title: 'Khoá học video nâng cao cho người mới bắt đầu',
      label: { title: '', color: '' },
      price: { isSale: false, value: '500,000' },
      tags: [],
      image: './assets/images/image-sample-course.jpg',
    },
  ]