-
  const dataBasicQuestion = [
      {
        title: 'What is GoodEdu ?',
        des: 'A platform to provide training course through video\nA method for lecturer to expand reputation, famous, and earn money\nA believable information source',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'What I can get after studying? Can I get certificate? ',
        des: 'Depend on how you learn and which course do u study. Many people can make product by studying through video, then sell it and earn money.\nWe don’t issue certificate.',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How long I can use video?',
        des: '03 years. We believe if video is unlimited using time, we can’t encourage u to complete studying. Moreover, video should be updated for better quality.',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'I can find same video in Youtube or other source, why I have to buy video from Godu?',
        des: 'Video in Godu is high quality, full information and documents, feedback, product showed…, made by good lecturer and approved by our team. Moreover you don’t be interrupted by Advertisement.',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'If I need help from Godu, what should I do?',
        des: 'Hotline on website: \nComment on the lecture:\nMessage on homepage:\nOur CS time is : 7h00-22h00',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Can I download video to my computer?',
        des: 'No, according to our intellectual property, you can see video without downloading.',
        icon: './assets/icons/icon-question.svg',
      },
    ]

    const dataAccountQuestions = [
      {
        title: 'How to register an account on Godu?',
        des: 'Click on “Đăng ký”, fill in information, submit and you will receive active code by email/phone. Pls log in with active code, then you are the member of (WIP)',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'I forget password, what should I do',
        des: 'Log in, type your username/ click to “forget password”/ which equipment to receive password. Godu shall send password to you.',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'I forget username, what should I do',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Login by facebook or google or zalo',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'I want to find the course which was bought',
        des: 'Click on “khóa học của tôi”',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to active the course ?',
        des: ' If you pay by COD\nIf you pay by other: automatically active after payment',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to see video which I already bought from different equipments?',
        des: 'Godu allows you log in from 3 different equipments, you can choose 3 equipment you want regardless computer/laptop/smart phone.You just log in by your user and password then you can study',
        icon: './assets/icons/icon-question.svg',
      },
    ]

    const dataPurchaseQuestions = [
      {
        title: 'How to purchase',
        des: 'Purchase only video\nPurchase only video + Kit\nPurchase only kit',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to find video as I want',
        des: 'Search item with key word',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to use coupon',
        des: 'Coupon by lecturer\nCoupon by Godu',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'I paid but I don’t receive video',
        des: 'Take evidence\nContact Godu by hotline or emai\nCheck active code',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Payment methods?',
        des: 'Internet banking ATM, JCB, visa, master, Momo\nShipping COD',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'After pay by COD, how can I get video?',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to cancel the order?',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
    ]

    const dataStudyingQuestions = [
      {
        title: 'How to adjust quality of video',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Video has nothing, slow',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to download App to Android/IOS',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to use full screen to see video',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'If I buy video, can my friends use it?',
        des: 'We give you 01 account, password, you can use on 3 different equipments. If u want to share it to your friend, it’s ok to use your account in different equipment but not in same time',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Study method? What should I do to get best achievement?',
        des: 'Through video opened in App on IOS, android, computer\nTo get best achievement: please watch all videos several time with practicing and contact to lecturer and other learner to discuss',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Can I study directly with the lecturer?',
        des: 'After studying through video, if many clients have same demand, Godu shall support to organize an offline lecture, then you can join. The cost shall be shared at that time.',
        icon: './assets/icons/icon-question.svg',
      },
    ]

    const dataLectureQuestions = [
      {
        title: 'How to discuss to lecturer',
        des: 'Comment on lecture page\nOffline meeting held by Godu',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to post comment on lecture',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Can I get email/facebook/phone number of lecturer',
        des: 'Email, facebook/instagram only, not phone number',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How can I get document',
        des: 'Send to your register address right after your payment.',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How can I upload product',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'I made many products, can I sell it on website',
        des: 'Many chances for you. Later we shall support market for exchange products made by learner or you can do your own business',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'How to buy kit to study according to video',
        des: 'Option 1: buy together with video. A kit package is made according to video, you can choose and buy together with video as combo type.\nOption 2: buy separately kit. There is link on shop page, pls visit, check photo and description and buy',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Can we believe quality of the kit?',
        des: 'The kit is prepared by lecture for the course only. The lecturer use it for the course, so that is the most suitable type for studying.',
        icon: './assets/icons/icon-question.svg',
      },
    ]

    const dataRefundQuestions = [
      {
        title: 'Condition',
        des: 'Report within 10 days after purchasing the lecture.\na/ Video refund:\nUse less than 3 video within 7 days: refund 100%\nUse less than 30% courses progress: refund 70%\nUse less than 50% course progress: refund 50%\nUse more than 50%: no refund\nb/ Kit refund\nBefore delivery: refund 100%\nWithin 7 days from the date of receipt the kit: refund 100%\nAfter 7 days: not refund',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'Processing',
        des: 'Contact hotline',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: ' I want to change to another course after payment?',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
      {
        title: 'I pay more than cost, how can I get back money?',
        des: '',
        icon: './assets/icons/icon-question.svg',
      },
    ]

    const dataQuestions = [
      { category: 'Basic Questions', data: dataBasicQuestion},
      { category: 'Account and Activation Questions', data: dataAccountQuestions },
      { category: 'Purchase and Payment Questions', data: dataPurchaseQuestions },
      { category: 'Studying Questions', data: dataStudyingQuestions },
      { category: 'Lecture Questions', data: dataLectureQuestions },
      { category: 'Refund Policy Questions', data: dataRefundQuestions },
    ]