* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  background: transparent;
}

.no-padding {
  padding: 0;
}

.fix-row-no-padding {
  margin-left: -5px;
  margin-right: -5px;
}

.custom-carousel-style {
  &.arrow-top {
    .owl-nav {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-200%);

      .owl-next,
      .owl-prev {
        margin-left: 10px;
        outline: none;

        &.disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

        img {
          width: 15px;
        }
      }
    }
  }

  &.arrow-two-side {
    .owl-nav {
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-200%);
        z-index: 10;
        outline: none;

        @media (max-width: 991px) {
          width: 40px;
          height: 40px;
        }
  
        img {
          width: 50%;
          margin: auto;
        }
  
        span {
          position: relative;
          width: 50px;
          height: 50px;
          background: $white !important;
          border: 2px solid transparent;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s ease;
          font-size: 30px;
          transform: translateY(-3px);
          z-index: 2;
          @media (max-width: 991px) {
            width: 40px;
            height: 40px;
          }
          img {
            width: 16px;
          }
        }
        &::before {
          position: absolute;
          top: -5px;
          border-radius: 50%;
          left: -2px;
          content: '';
          background: $linear-primary;
          z-index: 1;
          width: calc(100% + 4px);
          height: calc(100% + 4px);
        }
  
        &.disabled {
          opacity: 0;
        }
      }
  
      .owl-prev,
      .owl-next {
        &:hover {
          opacity: 1;
        }
      }
  
      .owl-prev {
        left: -60px;
        @media (max-width: 575px) {
          left: 0;
        }
      }
  
      .owl-next {
        right: -60px;
        @media (max-width: 575px) {
          right: 0;
        }
      }
    }
  }

  .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    .owl-dot {
      width: 20px;
      height: 7px;
      background: rgba(0, 0, 0, 0.3);
      margin: 0 3px;
      border-radius: 10px;
      outline: none;

      &.active {
        width: 7px;
        background: $blue;
        border-radius: 50%;
      }
    }
  }
}

.line {
  height: 1px;
  background: $border;
}

section.section {
  padding: 50px 0;

  .section-header {
    margin-bottom: 30px;

    .table-header-action {
      margin: 0;
      width: 100%;
      max-width: 350px;

      @media (max-width: 768px) {
        max-width: 100%;
        margin-bottom: 10px;
      }
    }

    h2 {
      color: $black;
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
      @include ellipsis(1);

      img {
        width: 30px;
        margin-right: 10px;
      }

      @media (max-width: 575px) {
        img {
          width: 25px;
        }
      }
    }

    .sort-group {
      label {
        white-space: nowrap;
        font-size: 14px;
        margin: 0;
      }

      .custom-select {
        margin-left: 10px;
        min-width: 300px;
        border-radius: 30px;
      }
    }

    a {
      font-size: 14px;
      text-decoration: none;
      color: $black;

      img {
        width: 10px;
        margin-left: 5px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start !important;

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

.custom-select {
  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.style-content-editable {
  p, li {
    font-size: 14px;
    color: $gray-dark;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  img {
    max-width: 420px;
    margin: 15px auto;
    display: block;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray-dark;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .line {
    margin: 15px 0;
  }

  ul {
    list-style: circle;
    padding-left: 30px;
    li {
      margin-bottom: 10px;
    }
  }
}

.amount-action {

  button,
  span {
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
  }

  #amountMinus,
  #amountPlus {
    color: $gray;
    cursor: pointer;
    padding: 5px 10px;
  }

  #amountValue {
    width: 100%;
    max-width: 150px;
    margin: 0 15px;
  }
}

.btn {
  font-size: 14px;
  border: 1px solid transparent;
  box-shadow: none !important;
  margin: 0;
  border-radius: 30px;
  font-weight: bold;

  img {
    width: 15px;
    margin-right: 8px;
  }

  &.primary-outline {
    border: none;
    color: $primary;
    position: relative;
    z-index: 3;
    background: $white;
    &::before,
    &::after {
      border-radius: 30px;
      pointer-events: none;
      position: absolute;
      content: '';
      z-index: -1;
    }
    &::before {
      top: -0.5px;
      left: -0.5px;
      background: $linear-primary;
      width: calc(100% + 1px);
      height: calc(100% + 1px);
    }
    &::after {
      top: 0.5px;
      left: 0.5px;
      background: $white;
      width: calc(100% - 1px);
      height: calc(100% - 1px);
    }
  }

  &.primary {
    background: $linear-primary;
    border-color: transparent;
    color: $white;
    border: none;
  }

  &.white-outline {
    background: transparent;
    border-color: $white;
    color: $white;
  }
}

.tab-wrapper {
  .tabs-group {
    overflow: auto;
    background: $white;

    .tab-item {
      padding: 10px 20px;
      transition: 0.3s ease;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      white-space: nowrap;
      font-weight: 600;
      border-bottom: 2px solid transparent;
      color: $black;

      &:hover,
      &.active {
        color: $blue;
        border-bottom: 2px solid $blue;
      }

      @media (max-width: 575px) {
        font-size: 14px;
        padding: 8px 12px;
      }
    }
  }

  .tabs-main-group {
    .tab-item {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.js-rating-star img {
  cursor: pointer;
}

.tooltip-wrapper {
  position: relative;
  z-index: 3;
  &:hover {
    .tooltip-content {
      opacity: 1;
      pointer-events: unset;
    }
  }
  .tooltip-content {
    position: absolute;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    color: $white;
    background: $primary-light;
    white-space: nowrap;
    transition: 0.3s ease;
    opacity: 0;
    pointer-events: none;
    &:before {
      position: absolute;
      width: 10px;
      height: 10px;
      background: $primary-light;
      content: '';
    }
    &.bottom-center{
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      &:before {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    &.bottom-right{
      top: calc(100% + 10px);
      right: 0%;
      &:before {
        top: 0;
        right: 10px;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}