$white: #fff;
$black: #000;
$black-light: #222222;
$green: #28a745;
$red: #f33340;
$gray-light: #f8f8f9;
$gray: #858a8d;
$gray-dark: #707070;
$primary: lighten(#49214f, 10%);;
$primary-light: lighten($primary, 15%);
$primary-dark: darken($primary, 15%);
$primary-medium: lighten($primary, 5%);
$border: #ddd;
$yellow-light: #fdcf76;
$yellow: #f9ca24;

$pink: #e2717c;
$blue: #31489d;
$navy-blue: #07124E;
$purple: #845b8e;

$linear-purple: linear-gradient(to right, #844f90, #503363);
$linear-primary: linear-gradient(to right, #e2717c, #31489d);