$white: #fff;
$black: #000;
$green: #28a745;
$red: #f33340;
$gray-light: #f8f8f9;
$gray: #858a8d;
$primary: lighten(#49214f, 10%);;
$primary-light: lighten($primary, 15%);
$primary-dark: darken($primary, 15%);
$primary-medium: lighten($primary, 5%);
$border: #ddd;
$yellow-light: #fdcf76;