extends includes/layout/layout.pug 
block pages
  -
    const navLinkRedirect = [
      { link: '#', title: 'Trang chủ' },
      { link: '#', title: 'Thông tin của tôi' },
    ]

  include includes/components/section-nav-redirect.pug
  +navRedirect(navLinkRedirect)

  .user-layout 
    .container 
      .user-layout-wrapper
        .row
          .col-lg-3
            include includes/components/user-sidebar-component.pug
          .col-lg-9
            .user-layout-main
              h3.layout-title Thay đổi mật khẩu
              form(action="#").authen-form
                .form-group.half
                  .form-item
                    label Mật khẩu cũ:
                    input(type="password" placeholder="Mật khẩu cũ")
                  .form-item
                    label Mật khẩu mới:
                    input(type="password" placeholder="Mật khẩu mới")

                .form-group.half
                  .form-item
                    label Xác nhận mật khẩu mới:
                    input(type="password" placeholder="Xác nhận mật khẩu mới")

                .form-group.half
                  .form-item
                  .form-item.button-checkout
                    button.btn.primary Thay đổi mật khẩu
                