extends includes/layout/layout.pug 
block pages
  -
    const navLinkRedirect = [
      { link: 'index.html', title: 'Trang chủ' },
      { link: '#', title: 'Giỏ hàng' },
      { link: '#', title: 'Thanh toán' },
    ]

  include includes/components/section-nav-redirect.pug
  +navRedirect(navLinkRedirect)

  .cart-layout.checkout-layout
    .container 
      .cart-layout-wrapper 
        h3 Thanh toán

        .row 
          .col-lg-7
            .checkout-info-wrapper 
              form(action="#").authen-form
                .form-group 
                  .form-item
                    input(type="text" placeholder="Họ và tên")
                    p.form-error Email không được để trống!
                .form-group.half
                  .form-item
                    input(type="text" placeholder="Email")
                  .form-item
                    input(type="text" placeholder="Điện thoại")
                .form-group
                  .form-item
                    select.custom-select
                      option(value="#") Chọn quốc gia
                      option(value="#") Hà Nội
                      option(value="#") Hồ Chí Minh
                .form-group.half
                  .form-item
                    input(type="text" placeholder="Quận")
                  .form-item
                    input(type="text" placeholder="Thành phố")
                .form-group 
                  .form-item
                    input(type="text" placeholder="Địa chỉ")
                
                .form-group.address-list-wrapper
                  .address-item 
                    .address-action.d-flex.align-items-center 
                      input(type="radio" name="radio-address" checked)
                    h4.address-name Your address 1
                    .address-col.d-flex.align-items-center.bold
                      img(src="./assets/icons/icon-home.svg", alt="")
                      |Hanoi, Vietnam
                    .address-col.d-flex.align-items-center 
                      img(src="./assets/icons/icon-phone-outline.svg", alt="")
                      |0123456789
                  .address-item 
                    .address-action.d-flex.align-items-center 
                      input(type="radio" name="radio-address")
                    h4.address-name Your address 2
                    .address-col.d-flex.align-items-center.bold
                      img(src="./assets/icons/icon-home.svg", alt="")
                      |Hanoi, Vietnam
                    .address-col.d-flex.align-items-center 
                      img(src="./assets/icons/icon-phone-outline.svg", alt="")
                      |0123456789


                h4.form-title Phương thức thanh toán

                .form-group.payment-method
                  .form-item.radio
                    input(type="radio" name="payment-method" id="ship-cod" checked)
                    label.d-flex.align-items-center(for="ship-cod")
                      img(src="./assets/icons/icon-delivery.svg", alt="") 
                      |Ship COD

                  .form-item.radio
                    input(type="radio" name="payment-method" id="card")
                    label.d-flex.align-items-center(for="card")
                      img(src="./assets/icons/icon-credit-card.svg", alt="") 
                      |Thanh toán bằng thẻ quốc tế Visa, Master, JCB

                  .form-item.radio
                    input(type="radio" name="payment-method" id="mobile-banking")
                    label.d-flex.align-items-center(for="mobile-banking")
                      img(src="./assets/icons/icon-bank.svg", alt="") 
                      |Thẻ ATM nội địa / Internet Banking (Miễn phí thanh toán)

                  .form-item.radio
                    input(type="radio" name="payment-method" id="momo")
                    label.d-flex.align-items-center(for="momo")
                      img(src="./assets/images/payment-momo.png", alt="") 
                      |Thanh toán bằng ví MoMo

                  .form-item.radio
                    input(type="radio" name="payment-method" id="zalo-pay")
                    label.d-flex.align-items-center(for="zalo-pay")
                      img(src="./assets/images/payment-zalopay.png", alt="") 
                      |Thanh toán bằng ZaloPay

                .line 
                .form-group.half
                  .form-item
                    a(href="#") Quay lại giỏ hàng

          .col-lg-5
            .checkout-products 
              .product-list-wrapper 
                each item in [1,2]
                  .product-checkout-item.d-flex 
                    .product-image 
                      img(src="./assets/images/image-sample-product.jpg", alt="")
                      .product-amount 1
                    .product-info 
                      a(href="#").product-title  Golo - Directory & Listing HTML Template
                      p Combo khóa học: Video + Gói học cụ 1
                    .product-price 100,000 đ 

                .line 
                
                .checkout-code-wrapper 
                  p Bạn có mã giảm giá ?
                  form(action="#").form-checkout-code.authen-form
                    .form-group.d-flex
                      input(type="text" placeholder="Nhập mã giảm giá")
                      button.btn.primary.d-flex.align-items-center 
                        img(src="./assets/icons/icon-giftbox-white.svg", alt="")
                        |Đồng ý

                  p Coupon của bạn
                  .coupon-list-group 
                    .coupon-item.d-flex.align-items-center 
                      select
                        option(value="#") Chọn mã
                        option(value="#") Mã: DSF78
                        option(value="#") Mã: DSF79
                        option(value="#") Mã: DSF80


                .line 
                
                .checkout-line.d-flex.justify-content-between.align-items-center 
                  p Subtotal:
                  strong 100,000 đ
                .checkout-line.d-flex.justify-content-between.align-items-center 
                  p Phí vận chuyển:
                  strong -
                .line 
                .checkout-line.d-flex.justify-content-between.align-items-center 
                  p Tổng:
                  strong.big 100,000 đ
                
                button.btn.primary.w-100.mt-4 Tiến hành thanh toán


