extends includes/layout/layout.pug 
block pages
  -
    const navLinkRedirect = [
      { link: 'index.html', title: 'Trang chủ' },
      { link: '#', title: 'Khóa học khởi nghiệp BDF' },
    ]

  include includes/common/data-sample
  include includes/components/section-nav-redirect.pug
  +navRedirect(navLinkRedirect)

  include includes/components/course-detail-info.pug

  .section-course-tab-wrapper 
    .tab-wrapper
      .container(style="position: sticky; top: 0; z-index: 2;")
        .tabs-group.d-flex(style="margin-bottom: 15px;")
          a(href="#thong-tin-chung").tab-item.active Thông tin chung
          a(href="#ket-qua").tab-item Kết quả
          a(href="#giao-trinh").tab-item Giáo trình
          a(href="#hoc-lieu").tab-item Học liệu
          a(href="#giang-vien").tab-item Giảng viên
          a(href="#nhan-xet").tab-item Nhận xét

      .tabs-main-group 
        #thong-tin-chung(style="padding-top: 48px;")
          .tab-item
            include includes/components/course-detail-description.pug
        #ket-qua(style="padding-top: 48px;")
          .tab-item
            include includes/components/course-detail-result.pug
        #giao-trinh(style="padding-top: 48px;")
          .tab-item
            include includes/components/course-detail-lesson.pug
        #hoc-lieu(style="padding-top: 48px;")
          .tab-item
            include includes/components/course-detail-tools.pug
        #giang-vien(style="padding-top: 48px;")
          .tab-item
            include includes/components/course-detail-teachers.pug
        #nhan-xet(style="padding-top: 48px;")
          .tab-item
            include includes/components/course-detail-rating.pug
  
  //- include includes/components/course-detail-creator-interview.pug

  
