extends includes/layout/layout.pug 
block pages
  .authen-page 
    .container
      .authen-page-wrapper
        h3 Quên mật khẩu
        p Vui lòng nhập địa chỉ email. Hệ thống sẽ gửi một tin nhắn đến Email của bạn
        form(action="#").authen-form
          .form-group 
            .form-item
              label Địa chỉ Email #[span *]
              input(type="text" placeholder="Hãy điền địa chỉ email của bạn")
              p.form-error Email không được để trống!

          .form-group
            .form-item
              button.btn Gửi liên kết

          p(style="margin-bottom: 20px;") Quay lại #[a(href="#")  Đăng nhập]

