extends includes/layout/layout.pug 
block pages
  #isOpenCategory
  include includes/common/data-sample
  include includes/common/data-news.pug
  include includes/components/new-box-component.pug
  include includes/components/section-home-banner.pug

  include includes/components/section-product.pug
  +sectionProduct('Khoá học của tôi', dataProduct)

  include includes/components/section-events.pug

  +sectionProduct('Phổ biến nhất', dataProduct)

  +sectionProduct('Khuyến mãi', dataProduct)

  include includes/components/section-news.pug
  +sectionNews('Kiến thức handmade')