doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 

  h3 Basic page
  div
    a(href="index.html") Homepage
  div
    a(href="review.html") Review
  div
    a(href="tutorial.html") Turotial
  div
    a(href="notification-detail.html") Notification Detail
  div
    a(href="become-teacher.html") Become Teachter

  h3 Payment page
  div
    a(href="cart.html") Cart
  div
    a(href="checkout.html") Checkout


  h3 Feature page
  div
    a(href="course-lists.html") Course Lists
  div
    a(href="course-detail.html") Course Detail
  div
    a(href="product-lists.html") Product Lists
  div
    a(href="product-detail.html") Product Detail
  div
    a(href="lesson-detail.html") Lesson Detail

  h3 Authen page
  div
    a(href="login.html") Login
  div
    a(href="register.html") Register
  div
    a(href="forgot-password.html") Forgot passowrd

  h3 Profile page
  div
    a(href="my-courses.html") My Course
  div
    a(href="my-courses.html") My Wishlist
  div
    a(href="my-profile.html") My Profile
  div
    a(href="my-coupon.html") My Coupon
  div 
    a(href="my-order.html") My Order
  div
    a(href="my-order-detail.html") My Order Detail
  div
    a(href="add-address.html") Add new My Address
  div
    a(href="change-password.html") My Password