extends includes/layout/layout.pug 
block pages
  -
    const navLinkRedirect = [
      { link: 'index.html', title: 'Trang chủ' },
      { link: '#', title: 'Khoá học của tôi' },
    ]

    const dataCourses = [
      { id: 1, date: '04/11/2020', title: 'Khoá học video nâng cao cho người mới bắt đầu', price: '500,000 đ', state: 'Active' },
      { id: 2, date: '04/12/2020', title: 'My question (list my question and answer in Disscussion and Comment), khoá học cơ bản', price: '500,000 đ', state: 'Unactive' },
      { id: 3, date: '01/11/2020', title: 'Khoá học video nâng cao cho người mới bắt đầu', price: '500,000 đ', state: 'Unactive' },
    ]

  include includes/components/section-nav-redirect.pug
  include includes/common/data-sample.pug
  +navRedirect(navLinkRedirect)

  .user-layout 
    .container 
      .user-layout-wrapper
        .row
          .col-lg-3
            include includes/components/user-sidebar-component.pug
          .col-lg-9
            .user-layout-main
              h3.layout-title Khoá học của tôi
              .section-main 
                .row 
                  each item in dataProduct
                    .col-lg-3.col-md-6
                      include includes/components/product-component.pug
                      +productComponent(item)

              include includes/components/pagination.pug 