extends includes/layout/layout.pug 
block pages
  -
    const navLinkRedirect = [
      { link: '#', title: 'Trang chủ' },
      { link: '#', title: 'Đơn hàng của tôi' },
      { link: '#', title: 'D7DSF7' },
    ]

  include includes/components/section-nav-redirect.pug
  +navRedirect(navLinkRedirect)

  .user-layout 
    .container 
      .user-layout-wrapper
        .row
          .col-lg-3
            include includes/components/user-sidebar-component.pug
          .col-lg-9
            .user-layout-main
              h3.layout-title Trạng thái đơn hàng
              ul.stepper.stepper-vertical.order-step
                li.completed
                  a(href="#").step-item 
                    span.circle 1
                    span.label Đặt hành thành công
                li.completed
                  a(href="#").step-item 
                    span.circle 2
                    span.label Hệ thống tiếp nhận
                li.completed
                  a(href="#").step-item 
                    span.circle 3
                    span.label Đang lấy hàng
                li.active
                  a(href="#").step-item 
                    span.circle 4
                    span.label Đang vận chuyển
                li.warning
                  a(href="#").step-item 
                    span.circle 5
                    span.label Giao hàng thành công
    
              h3.layout-title Chi tiết trạng thái đơn hàng
              .order-detail-wrapper 
                .order-detail-item
                  .order-detail-header Cập nhật mới nhất
                  .order-detail-contents 
                    .order-content-item.d-flex.align-items-center 
                      .order-time 10:52
                      .order-title Giao hàng thành công
                    .order-content-item.d-flex.align-items-center 
                      .order-time 10:52
                      .order-title Giao hàng thành công
                .order-detail-item
                  .order-detail-header Cập nhật mới nhất
                  .order-detail-contents 
                    .order-content-item.d-flex.align-items-center 
                      .order-time 10:52
                      .order-title Giao hàng thành công
                    .order-content-item.d-flex.align-items-center 
                      .order-time 10:52
                      .order-title Giao hàng thành công
              