extends includes/layout/layout.pug 
block pages
  -
    const navLinkRedirect = [
      { link: 'index.html', title: 'Trang chủ' },
      { link: '#', title: 'Thông tin của tôi' },
    ]

  include includes/components/section-nav-redirect.pug
  +navRedirect(navLinkRedirect)

  .user-layout 
    .container 
      .user-layout-wrapper
        .row
          .col-lg-3
            include includes/components/user-sidebar-component.pug
          .col-lg-9
            .user-layout-main
              h3.layout-title Thông tin cá nhân
              form(action="#").authen-form
                .form-group.half
                  .form-item
                    label Họ:
                    input(type="text" placeholder="Họ")
                  .form-item
                    label Tên:
                    input(type="text" placeholder="Tên")
                  
                .form-group.half
                  .form-item
                    label Ngày sinh:
                    input(type="date" placeholder="Ngày sinh")
                  .form-item
                    label Email:
                    input(type="text" placeholder="Email" disabled value="yourmail@email.com")
                .form-group.half
                  .form-item
                    label Số điện thoại
                    input(type="text" placeholder="Số điện thoại")
                    p.form-error Số điện thoại không hợp lệ

                .form-group.half
                  .form-item
                  .form-item.button-checkout
                    button.btn.primary Cập nhật 

              h3.layout-title Thay đổi mật khẩu
              form(action="#").authen-form
                .form-group.half
                  .form-item
                    label Mật khẩu cũ:
                    input(type="password" placeholder="Mật khẩu cũ")
                  .form-item
                    label Mật khẩu mới:
                    input(type="password" placeholder="Mật khẩu mới")

                .form-group.half
                  .form-item
                    label Xác nhận mật khẩu mới:
                    input(type="password" placeholder="Xác nhận mật khẩu mới")

                .form-group.half
                  .form-item
                  .form-item.button-checkout
                    button.btn.primary Thay đổi mật khẩu

              h3.layout-title Sổ địa chỉ
              .address-list-wrapper 
                each item in [1,2]
                  .address-item 
                    .address-action.d-flex.align-items-center 
                      button.btn.edit
                        img(src="./assets/icons/icon-edit-white.svg", alt="")
                      button.btn.delete
                        img(src="./assets/icons/icon-trash-white.svg", alt="")
                    h4.address-name Your address
                    .address-col.d-flex.align-items-center.bold
                      img(src="./assets/icons/icon-home.svg", alt="")
                      |Hanoi, Vietnam
                    .address-col.d-flex.align-items-center 
                      img(src="./assets/icons/icon-phone-outline.svg", alt="")
                      |0123456789