extends includes/layout/layout.pug 
block pages
  -
    const navLinkRedirect = [
      { link: 'index.html', title: 'Trang chủ' },
      { link: '#', title: 'Khoá học yêu thích' },
    ]

  include includes/components/section-nav-redirect.pug
  include includes/common/data-sample.pug
  +navRedirect(navLinkRedirect)

  .user-layout 
    .container 
      .user-layout-wrapper
        .row
          .col-lg-3
            include includes/components/user-sidebar-component.pug
          .col-lg-9
            .user-layout-main
              h3.layout-title Khoá học yêu thích
              .section-main 
                .row 
                  each item, index in dataProduct
                    if index < 6
                      .col-lg-4.col-6
                        include includes/components/product-component.pug
                        +productComponent(item)

              include includes/components/pagination.pug 