extends includes/layout/layout.pug 
block pages
  -
    const navLinkRedirect = [
      { link: 'index.html', title: 'Trang chủ' },
      { link: '#', title: 'Khóa học khởi nghiệp BDF' },
    ]
    let page = ''

  include includes/common/data-sample

  include includes/components/section-nav-redirect.pug
  +navRedirect(navLinkRedirect)

  include includes/components/course-detail-info.pug

  .product-section-info(style="margin-bottom: 15px;")
    .container
      .row 
        .col-lg-8.no-padding
          .tab-wrapper
            .tabs-group.d-flex(style="padding: 0 15px; position: sticky; top: 0; z-index: 2;margin-bottom: -20px;")
              a(href="#thong-tin-chung").tab-item.active Thông tin chung
              a(href="#mo-ta").tab-item Mô tả sản phẩm
            
            .tabs-main-group 
              #thong-tin-chung(style="padding-top: 48px;")
                .tab-item 
                  include includes/components/course-detail-description.pug

              #mo-ta(style="padding-top: 48px;")
                .tab-item
                  - page = 'product-detail'
                  include includes/components/course-detail-description.pug

        .col-lg-4.no-padding
          section.section-course-detail.course-detail-same-product
            .container 
              .section-course-detail-wrapper 
                h3.section-course-title Sản phẩm bán chạy
                .section-main
                  .row
                    each item in dataProductLists
                      .col-lg-12.col-sm-6
                        include includes/components/product-component.pug
                        +productComponent(item)

  include includes/components/course-detail-rating.pug

  include includes/components/section-product.pug
  +sectionProduct('Sản phẩm gần đây', dataProductLists)
