

section.section-course-detail.course-detail-result
  .container 
    .section-course-detail-wrapper 
      h3.section-course-title Học liệu
      .section-main
        .description-wrapper.style-content-editable
          h2 🧶 로빈니팅의 세심한 키트 구성을 만나세요.
          p #[strong 1) 세 가지 기본 구성 가운데 선택합니다.]
          ul 
            li #[strong 올인원 키트:] 대바늘이 처음이거나, 로빈니팅이 추천하는 도구를 그대로 받고 싶은 분에게 추천합니다. 모든 도구, 실, 부자재, 도안이 포함되어 있습니다.
            li #[strong 올인원 키트:] 대바늘이 처음이거나, 로빈니팅이 추천하는 도구를 그대로 받고 싶은 분에게 추천합니다. 모든 도구, 실, 부자재, 도안이 포함되어 있습니다.
            li #[strong 올인원 키트:] 대바늘이 처음이거나, 로빈니팅이 추천하는 도구를 그대로 받고 싶은 분에게 추천합니다. 모든 도구, 실, 부자재, 도안이 포함되어 있습니다.

          p #[strong 2) 10cm 크기 미니인형을 추가로 만들어보고 싶다면 선택하세요.]
          ul 
            li #[strong 올인원 키트:] 대바늘이 처음이거나, 로빈니팅이 추천하는 도구를 그대로 받고 싶은 분에게 추천합니다. 모든 도구, 실, 부자재, 도안이 포함되어 있습니다.
          p #[strong 3) 로빈니팅의 키트를 구매해주는 모든 분에게 시크릿 도]
          img(src="./assets/images/image-product-description-2.jpeg", alt="")

          p 강아지 루키, 여우 루피, 거대 토끼 미니에 사용된 실은 알파카毛의 최상급 슈퍼 베이비 알파카에 해당하는 실로 약간의 털 날림이 있습니다. 알파카 털에 알러지가 있으신 분들은 주의를 요합니다.

          .line 

          h2 올인원 키트
          p #[strong 📍 실, 대바늘 기초 도구, 부자재, 도안 등 클래스 커리큘럼을 따라오는데 필요한 모든 것이 포함되었습니다.]
          img(src="./assets/images/image-product-description-2.jpeg", alt="")

          p 실과 부자재
          ul 
            li 도안집
            li 미셀 베이비 알파카 DK
            li 로완 알파카 클래식
            li 앙고라 80
            li 빈센트
            li 헤라울
            li 단추눈
            li 단추
            li 수실
            li 와이어
            li 구름솜 (500g)
          
          
        

      


      