

section.section-course-detail.course-detail-result
  .container 
    .section-course-detail-wrapper 
      h3.section-course-title Giảng viên
      .section-main
        .description-wrapper.style-content-editable
          h1 GIÁ RẺ ĐẾN TẬN TAY KHÁCH HÀNG
          h1 LUÔN ĐẶT UY TÍN LÊN HÀNG ĐẦU
          p — Chiếc #[strong đầm] với họa tiết hoa lá gây ấn tượng kết hợp với thiết kế độc đáo ở phần cổ và vai vừa kín đáo lại vừa gợi cảm dáng váy chữ A có xếp li eo giúp phần eo trông thon gọn . Với chiếc đầm hoa phong cách cổ điển này tha hồ cho các nàng diện đi khắp mọi nơi không đối thủ và khiến cho mọi ánh nhìn phải tập trung vào mình.
          img(src="./assets/images/image-product-description-1.jpeg", alt="")

          h3 Gợi ý khi nhận sản phẩm
          p Kiểm tra sản phẩm xem có lỗi không
          p Thử xem có vừa vặn không
          p Giặt tay riêng với các loại quần áo khác, nhất là sản phẩm có màu đen, đỏ 
          p Không giặt hoặc ngâm xà phòng ngay trong lần đầu tiên
          p Nên giặt trước khi mặc nhằm tránh dị ứng bụi chỉ cho làn da nhạy cảm nhất

          h3 * Lưu Ý 
          p Tuy nhiên các nàng cũng thông cảm giúp shop suy nghĩ kỹ trước khi quyết định bấm mua hàng nhé, để tránh tình trạng đổi ý vì bất kì lí do gì. Bởi vì khi hủy đơn không chỉ tội cho nhân viên giao hàng tốn sức chạy, tốn tiền gọi giao mà cũng tội cho shop tốn phí ship, bị điểm phạt giao hàng không thành công, dẫn đến nguy cơ cấm bán hàng chị em nhé!
          p Với rất nhiều kiểu thiết kế và màu sắc khác nhau, phù hợp với nhiều sở thích của các nàng. Vì thế, bạn sẽ không quá khó để lựa chọn một mẫu ưng ý cho tủ đồ của mình tại đây các nàng nhé : https://www.sendo.vn/shop/nomax
          
          img(src="./assets/images/image-product-description-2.jpeg", alt="")

      


      