
include ../common/data-news.pug
include new-box-component.pug
-
  const dataResults = [
    {
      title: 'Rubber banding',
      des: `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`,
    },
    {
      title: 'Ironing and laudry care',
      des: `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`,
    },
    {
      title: 'Rubber banding',
      des: `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`,
    },
    {
      title: 'Rubber banding',
      des: `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`,
    },
    {
      title: 'Ironing and laudry care',
      des: `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`,
    },
    {
      title: 'Rubber banding',
      des: `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`,
    },
  ]

section.section-course-detail.course-detail-result
  .container 
    .section-course-detail-wrapper 
      h3.section-course-title
        |Making a
        br
        strong total of 5 works 
        | with Korean

      p.course-sub-title(style="font-weight: 400;") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias a voluptate dolorem quod, deleniti cumque temporibus ut. Nulla repudiandae, voluptates neque odit, distinctio vitae sint magni ratione ipsum laboriosam doloremque!

      .result-wrapper 
        .row 
          each item in dataNewResults
            .col-lg-3.col-md-6
              +newBoxComponent(item)


      h3.section-course-title Kết quả

      .result-wrapper 
        .owl-carousel#result-carousel-section.custom-carousel-style.arrow-top
          each item in dataResults
            .item
              .result-item 
                h4.result-title= item.title
                p.result-des= item.des
                .result-image 
                  img(src="./assets/images/image-sample-news.jpg", alt="")


      