section.section-course-detail.course-detail-lesson
  .container 
    .section-course-detail-wrapper 
      h3.section-course-title Giáo trình 
      .lesson-overview-wrapper.d-flex.justify-content-between.align-items-center 
        h4.course-sub-title Thể loại: 
        .lesson-overview.d-flex
          .total-item.d-flex.align-items-center 
            img(src="./assets/icons/icon-play.svg", alt="")
            span Số bài #[strong 1]
          .total-item.d-flex.align-items-center 
            img(src="./assets/icons/icon-clock.svg", alt="")
            span Tổng thời gian #[strong 08:55]

      .lesson-lists-wrapper 
        .list-single-lesson 
          .list-header.d-flex.justify-content-between.align-items-center
            h3.list-name.d-flex.align-items-center
              img(src="./assets/icons/icon-play.svg", alt="")
              |Khoá học
            p.list-total 2 bài
          .list-main
            each item in [1,2]
              .list-item.d-flex.flex-wrap.align-items-start
                .item-image
                  img(src="./assets/images/image-sample-course.jpg", alt="")
                .item-info 
                  a(href="#").item-title Bài 1: Kỹ năng Kinh doanh
                  ul 
                    li.d-flex.align-items-start 
                      span.number 1
                      span.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum excepturi minima, et quis ad nesciunt possimus dolorem 
                    li.d-flex.align-items-start 
                      span.number 2
                      span.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum excepturi minima, et quis ad nesciunt possimus dolorem 
                    li.d-flex.align-items-start 
                      span.number 3
                      span.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum excepturi minima, et quis ad nesciunt possimus dolorem
