section.section.lesson-detail-description.section-course-detail(style="padding-top: 0;")
  .container
    .lesson-detail-description-wrapper.section-course-detail-wrapper 
      .tab-wrapper
        .tabs-group.d-flex
          .tab-item.active Tài liệu
          .tab-item Bài kiểm tra
          .tab-item Kết quả
          .tab-item Thảo luận

        .tabs-main-group
          .tab-item.active
            .user-layout-table
              table.my-course-table
                thead
                  tr 
                    td.col-center ID
                    td.course-content Tên bài hoc
                    td.col-action.nowrap.col-center Tài liệu
                tbody 
                  each item, index in [1,2,3]
                    tr 
                      td.col-center= item.id= item
                      td.course-content= `Bài ${index + 1}: Tài liệu khóa học ${index + 1}`
                      td.col-action
                        .action-group.d-flex.flex-wrap.justify-content-center
                          button.btn.primary Tải về   
          .tab-item
            .quiz-main 
              h3.quiz-title Quiz Title 
              .row.quiz-wrapper 
                .col-lg-8 
                  .quiz-wrapper-item
                    .quiz-question 
                      h5 Question 1
                      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ducimus nostrum sit minus, expedita quia vel dolore, odio obcaecati, sed similique porro numquam rem?
                    .quiz-answers 
                      .answer-item 
                        input(type="radio" id="a" name="quiz")
                        label(for="a") A 
                      .answer-item 
                        input(type="radio" id="b" name="quiz")
                        label(for="b") B 
                      .answer-item 
                        input(type="radio" id="c" name="quiz")
                        label(for="c") C 
                      .answer-item 
                        input(type="radio" id="d" name="quiz")
                        label(for="d") D
                    .quiz-action.d-flex.justify-content-center
                      button.btn.primary.prev
                        img(src="./assets/icons/icon-angle-left-white.svg", alt="")
                      button.btn.primary.next
                        img(src="./assets/icons/icon-angle-right-white.svg", alt="")
                    .quiz-explain 
                      h5 Explanation
                      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error iste enim quisquam. Tempora harum voluptates quas. Alias a quibusdam molestias commodi, doloremque nostrum quasi debitis maxime voluptates omnis, laborum eius.
                .col-lg-4.quiz-col-lists
                  .quiz-wrapper-item.quiz-lists-wrapper
                    .quiz-total 
                      h5 Question 1 / 8
                    .quiz-lists.d-flex.flex-wrap 
                      .quiz-list-item.done 1
                      .quiz-list-item.done 2
                      .quiz-list-item.done 3
                      .quiz-list-item.correct 4
                      .quiz-list-item.wrong 5
                      .quiz-list-item.undone 6
                      .quiz-list-item.current 7
                      .quiz-list-item.undone 8
                      .quiz-list-item.undone 9
                      .quiz-list-item.undone 10
                      .quiz-list-item.undone 11
                      .quiz-list-item.undone 12


          .tab-item
            p Need design
          .tab-item
            .comments-group-wrapper 
              .comment-users-lists 
                each item in [1,2]
                  .comment-item 
                    .comment-header.d-flex.aligns-item-center
                      .comment-avatar 
                        img(src="./assets/images/image-avatar-placeholder.webp", alt="")
                      .comment-info 
                        h6.comment-name User 5
                        .rating-star.d-flex.align-items-center
                          img(src="./assets/icons/icon-star-fill-yellow.svg", alt="")
                          img(src="./assets/icons/icon-star-fill-yellow.svg", alt="")
                          img(src="./assets/icons/icon-star-fill-yellow.svg", alt="")
                          img(src="./assets/icons/icon-star-yellow.svg", alt="")
                          img(src="./assets/icons/icon-star-yellow.svg", alt="")

                    .comment-caption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    .comment-action.d-flex.align-items-center 
                      .action-item.like.d-flex.align-items-center
                        img(src="./assets/icons/icon-like-gray.svg", alt="")
                        span 3

                      .action-item.dislike.d-flex.align-items-center
                        img(src="./assets/icons/icon-dislike-gray.svg", alt="")
                        span 3

                      .action-item.reply.d-flex.align-items-center
                        img(src="./assets/icons/icon-reply-gray.svg", alt="")
                        span Reply

              h4.course-sub-title Bình luận
              form(action="#").comment-form.authen-form
                textarea(placeholder="Viết 1 bình luận")
                .form-item.list-uploads.d-flex.flex-wrap 
                  .upload-item 
                    img(src="./assets/images/image-sample-product.jpg", alt="").item-image
                    img(src="./assets/icons/icon-close-circle.svg", alt="").item-delete
                  .upload-item 
                    img(src="./assets/images/image-sample-product.jpg", alt="").item-image
                    img(src="./assets/icons/icon-close-circle.svg", alt="").item-delete

                .d-flex.justify-content-between.align-items-center
                  .form-item.upload.icon
                    input(type="file") 
                    img(src="./assets/icons/icon-image-gray.svg", alt="")
                  .form-item.button-checkout
                    button(type="submit").btn Đồng ý
              