section.section.lesson-detail-video.section-course-detail
  .container
    .lesson-detail-video-wrapper.section-course-detail-wrapper 
      .row 
        .col-lg-8.col-current-video
          .lesson-current-video 
            <video id="my-player" class="video-js vjs-theme-fantasy" controls preload="auto" poster="//vjs.zencdn.net/v/oceans.png" autoplay>
              <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
              <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
              <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
              <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>

        .col-lg-4.col-list-video 
          .tab-wrapper 
            .tabs-group.d-flex
              .tab-item.active Video List
              .tab-item Hướng dẫn

            .tabs-main-group
              .tab-item.active
                .lesson-list-video.vjs-playlist(style="margin-top: 10px;")
                .lesson-action-video.d-flex.align-items-center.justify-content-between 
                  .action-item-group
                    input(type="text" placeholder="Tìm kiếm video")
                  .action-item-group.d-flex.align-items-center
                    //- .action-item.loop
                    //-   img(src="./assets/icons/icon-loop.svg", alt="")
                    .action-item.first
                      img(src="./assets/icons/icon-first-track.svg", alt="")
                    .action-item.prev
                      img(src="./assets/icons/icon-caret-left.svg", alt="")
                    .action-item.next
                      img(src="./assets/icons/icon-caret-right.svg", alt="")
                    .action-item.last
                      img(src="./assets/icons/icon-last-track.svg", alt="")

              .tab-item
                .description-wrapper.style-content-editable(style="margin-top: 10px;")
                  p Để đăng ký được khóa, gói học Quý phụ huynh và các bạn học sinh thao tác các bước như sau:
                  p #[strong 1.  Nạp học phí]
                  p #[strong 2.  Chọn khóa, gói học]
                  p #[strong 3.  Xác nhận đăng ký khóa, gói học.]

                  h1 GIÁ RẺ ĐẾN TẬN TAY KHÁCH HÀNG
                  h1 LUÔN ĐẶT UY TÍN LÊN HÀNG ĐẦU
                  p — Chiếc #[strong đầm] với họa tiết hoa lá gây ấn tượng kết hợp với thiết kế độc đáo ở phần cổ và vai vừa kín đáo lại vừa gợi cảm dáng váy chữ A có xếp li eo giúp phần eo trông thon gọn . Với chiếc đầm hoa phong cách cổ điển này tha hồ cho các nàng diện đi khắp mọi nơi không đối thủ và khiến cho mọi ánh nhìn phải tập trung vào mình.
                  img(src="./assets/images/image-product-description-1.jpeg", alt="")

