section.section.lesson-detail-description.section-course-detail(style="padding-top: 0;")
  .container
    .lesson-detail-description-wrapper.section-course-detail-wrapper 
      .tab-wrapper
        .tabs-group.d-flex
          .tab-item.active Giới thiệu
          .tab-item Tài liệu
          .tab-item Hướng dẫn

        .tabs-main-group
          .tab-item.active
            .description-wrapper.style-content-editable(style="margin-top: 20px;")
              p #[strong Bạn đang mong muốn xây dựng một Hệ thống Kinh doanh Online Bài Bản cho riêng mình?] mà vẫn chưa tìm được hướng đi rõ ràng từ việc xác định sản phẩm kinh doanh - mô hình kinh doanh phù hợp, cách để liên hệ nhà cung cấp để đàm phán nhập hàng, cách nghiên cứu khách hàng, đối thủ, quảng cáo và tối ưu...... ?
              p Bạn đã có kinh nghiệm Kinh doanh online, và đang mong muốn mở rộng Hệ Thống Online Đa Kênh ngoài kênh truyền thống sang Facebook, Instagram, Zalo, Youtube, Email Marketing, Website, SMS...?
              p Bạn mong muốn phát triển toàn diện nội dung fanpage, group,.... Bài bản hơn bắt đầu từ việc phân tích thị hiếu khách hàng - cũng như phân tích toàn diện đối thủ cạnh tranh của mình ?
              p Bạn đam mê Marketing và muốn lên một quy trình Quảng cáo sản phẩm online bài bản, hay mong muốn tối ưu quảng cáo hiệu quả ? Cho dù bạn là người mới Khởi nghiệp Kinh Doanh Online, hay là một nhân viên kinh doanh hoặc bạn đã có kinh nghiệm kinh doanh Online; có sản phẩm dịch vụ và muốn mở rộng công việc kinh doanh của mình hay đơn giản bạn muốn kinh doanh để có thêm nguồn thu nhập cho bản thân thì đây là khóa chia sẻ dành cho bạn ! Tất cả những vấn đề trên sẽ được mổ sẻ trong "Khởi nghiệp Kinh Doanh Online Bền Vững" - Khóa học này cung cấp cho bạn một Quy trình xây dựng Hệ thống Marketing online thực tế, bài bản, toàn diện với những ví dụ thực tế.
              p #[strong Đừng chần chừ nữa, hãy đăng ký tham gia ngay cùng tôi. Và chuẩn bị đón nhận những món quà đầy bất ngờ.]
              h3 Lộ trình học tập:
              p 217 bài học chia làm 12 chương giúp hịc viện hiểu rõ hơn về các công cụ Marketing mới nhât hiện nay.
              h3 Lợi ích từ khoá học
              p Xác định Sản phẩm kinh doanh phù hợp, Mô hình bạn sẽ Kinh doanh
              p Có được Nguồn hàng kinh doanh khi liên hệ trực tiếp với người bán, nhà cung cấp
              p Nhận diện chân dung khách hàng Tiềm năng của mình, cách xây dựng chính sách chăm sóc khách hàn
              p Cách nghiên cứu, theo dõi và học hỏi từ chính Đối thủ cạnh tranh của bạn qua các công cụ Miễn phí
              p Tự tin xây dựng đồng bộ các kênh Marketing (Facebook, Instagram, Zalo, Youtube, Email Marketing,...) qua từng bước chia sẻ chi tiết
              h3 Lợi ích từ khoá học
              p Tất cả những ai muốn khởi nghiệp Kinh doanh Online bài bản, bắt đầu từ những công việc cốt lõi nhất: xác định sản phẩm kinh doanh, tìm kiếm nguồn hàng kinh doanh, liên hệ nhà cung cấp, nghiên cứu khách hàng, đối thủ, xây dựng nội dung bán hàng...
              p Những ai mong muốn tìm hiểu, phát triển đồng bộ các kênh Marketing Online (Instagram, Zalo, Youtube, Email Marketing, Facebook, SMS) bên cạnh kênh truyền thống
              p Những ai đang tìm kiếm các cơ hội kinh doanh Online, và phát triển công việc Kinh Doanh Offline bền vững cho riêng mình

          .tab-item
            .user-layout-table
              table.my-course-table
                thead
                  tr 
                    td.col-center ID
                    td.course-content Tên bài hoc
                    td.col-action.nowrap.col-center Tài liệu
                tbody 
                  each item, index in [1,2,3]
                    tr 
                      td.col-center= item.id= item
                      td.course-content= `Bài ${index + 1}: Tài liệu khóa học ${index + 1}`
                      td.col-action
                        .action-group.d-flex.flex-wrap.justify-content-center
                          button.btn.primary Tải về   

          .tab-item.active
            .description-wrapper.style-content-editable(style="margin-top: 20px;")
              p Để đăng ký được khóa, gói học Quý phụ huynh và các bạn học sinh thao tác các bước như sau:
              p #[strong 1.  Nạp học phí]
              p #[strong 2.  Chọn khóa, gói học]
              p #[strong 3.  Xác nhận đăng ký khóa, gói học.]
              