.pagination-wrapper.d-flex.justify-content-center.align-items-center.flex-wrap 
  .pagination-item.arrow-left= `<`
  .pagination-item.active 1
  .pagination-item 2
  .pagination-item 3
  .pagination-item.arrow-right= `>`