mixin reviewComponent(item)
  .review-component 
    .review-image 
      img(src="./assets/images/image-sample-review.jpeg", alt="")
    .review-info 
      h4.review-title= item.title 
      p.review-des= item.des