section.section-home-banner 
  .container
    .row.fix-row-no-padding
      .col-md-0.col-lg-3.no-padding
      .col-md-12.col-lg-6.no-padding
        .owl-carousel#home-banner-carousel.custom-carousel-style
          each item in [1,2]
            .item
              a(href="#").image-banner-item.single 
                img(src=`./assets/images/image-banner-sample-${item}.jpg`, alt="")

      .col-md-12.col-lg-3.no-padding
        a(href="#").image-banner-item.half 
          img(src="./assets/images/image-banner-sample-3.jpg", alt="")
        a(href="#").image-banner-item.half 
          img(src="./assets/images/image-banner-sample-4.jpg", alt="")

      .col-12.no-padding
        a(href="#").image-banner-item 
          img(src="./assets/images/image-banner-sample-5.jpg", alt="")

