section.section.section-events
  .container 
    .section-header.d-flex.align-items-center.justify-content-between
      h2.d-flex.align-items-center 
        img(src="./assets/icons/icon-event.svg", alt="")
        |Sự kiện 
      a(href="#").d-flex.align-items-center
        |Xem tất cả
        img(src="./assets/icons/icon-angle-right.svg", alt="")

    .section-main
      .row 
        each item in dataEvents
          .col-lg-4.col-md-6 
            +newBoxComponent(item)
                