section.section.section-events
  .container 
    .section-header.d-flex.align-items-center.justify-content-between
      h2.d-flex.align-items-center Sự kiện 
      a(href="#").d-flex.align-items-center
        |Xem tất cả
        img(src="./assets/icons/icon-angle-right.svg", alt="")

    .section-main
      .owl-carousel.custom-carousel-style.arrow-two-side
        each item in dataEvents
          .item
            +newBoxComponent(item)
                