.user-sidebar-component
  .user-avatar 
    img(src="./assets/images/image-avatar-placeholder.webp", alt="")
  .user-name Hello World 

  .user-sidebar-list 
    a(href="#").list-item.d-flex.align-items-center.justify-content-between 
      span Thông tin
      img(src="./assets/icons/icon-information.svg", alt="")
      
    a(href="#").list-item.d-flex.align-items-center.justify-content-between 
      span Mã
      img(src="./assets/icons/icon-tickets.svg", alt="")

    a(href="#").list-item.d-flex.align-items-center.justify-content-between 
      span Yêu thích
      img(src="./assets/icons/icon-heart.svg", alt="")

    a(href="#").list-item.d-flex.align-items-center.justify-content-between 
      span Đơn hàng của tôi
      img(src="./assets/icons/icon-order.svg", alt="")
      
    a(href="#").list-item.d-flex.align-items-center.justify-content-between 
      span Khoá học
      img(src="./assets/icons/icon-book.svg", alt="")
      
    a(href="#").list-item.d-flex.align-items-center.justify-content-between 
      span Câu hỏi
      img(src="./assets/icons/icon-question.svg", alt="")
      
    //- a(href="#").list-item.d-flex.align-items-center.justify-content-between 
    //-   span Sổ địa chỉ
    //-   img(src="./assets/icons/icon-home.svg", alt="")
      
    a(href="#").list-item.d-flex.align-items-center.justify-content-between 
      span Đổi mật khẩu
      img(src="./assets/icons/icon-password.svg", alt="")
      
    a(href="#").list-item.d-flex.align-items-center.justify-content-between 
      span Đăng xuất
      img(src="./assets/icons/icon-logout.svg", alt="")
      
