.section-checkout#cart-mb
    include ../components/account-sidebar-mb.pug
    +slide__bar-mb("Giỏ hàng của bạn",true)       
    .container         
        .section-checkout__content.content-cart
            .row
                .col-lg-6
                    .section-checkout__left
                        h3.title Danh sách sản phẩm
                        ul.section-checkout__left-list
                            li.section-checkout__left-item#product1
                                .left-item__img
                                    a(href="./book-detail-mobile-1.html")
                                        div(class="lazy lazy-opacity bg-layout bg-book-cart" data-bg="./assets/images/checkout/image1.jpg")
                                    span Ebook
                                .left-item__desc
                                    h4
                                        a(href="") Ebook Giáo trình lưới điện phân phối
                                    .left-item__desc-price
                                        span
                                            b 15.000đ
                                            | /tháng
                                        .time.click-show-dropdow.block-576.time-cart-mb
                                            input.valua-time(type='text' value="1" )
                                            p.time-text 1 tháng
                                            i.fas.fa-angle-down
                                        .modal-radio
                                            .modal-radio__content
                                                label.modal-radio__content-group
                                                    p.text 1 tháng
                                                    input.radio-input(type='radio' valua='1' name='radio-group' checked='')
                                                label.modal-radio__content-group
                                                    p.text 3 tháng
                                                    input.radio-input(type='radio' valua='3' name='radio-group')
                                                label.modal-radio__content-group
                                                    p.text 6 tháng
                                                    input.radio-input(type='radio' valua='6' name='radio-group')
                                                label.modal-radio__content-group
                                                    p.text Vĩnh viễn
                                                    input.radio-input(type='radio' valua='9999' name='radio-group')
                                    ul.left-item__desc-list
                                        li.left-item__desc-item
                                            span.color-33 Thành tiền:
                                            b 45.000đ
                                button.left-item__delete( data-id="#product1")
                                    i.fas.fa-trash
                            li.section-checkout__left-item#product2
                                .left-item__img
                                    a(href="./book-detail-mobile-1.html")
                                        div(class="lazy lazy-opacity bg-layout bg-book-cart" data-bg="./assets/images/checkout/image1.jpg")
                                    span Ebook
                                .left-item__desc
                                    h4
                                        a(href="") Ebook Giáo trình lưới điện phân phối
                                    .left-item__desc-price
                                        span
                                            b 15.000đ
                                            | /tháng
                                        .time.click-show-dropdow.block-576.time-cart-mb
                                            input.valua-time(type='text' value="1" )
                                            p.time-text 1 tháng
                                            i.fas.fa-angle-down
                                        .modal-radio
                                            .modal-radio__content
                                                label.modal-radio__content-group
                                                    p.text 1 tháng
                                                    input.radio-input(type='radio' valua='1 tháng' name='radio-group' checked='')
                                                label.modal-radio__content-group
                                                    p.text 3 tháng
                                                    input.radio-input(type='radio' valua='3 tháng' name='radio-group')
                                                label.modal-radio__content-group
                                                    p.text 6 tháng
                                                    input.radio-input(type='radio' valua='6 tháng' name='radio-group')
                                                label.modal-radio__content-group
                                                    p.text Vĩnh viễn
                                                    input.radio-input(type='radio' valua='9999' name='radio-group')
                                    ul.left-item__desc-list
                                        li.left-item__desc-item
                                            span.color-33 Thành tiền:
                                            b 45.000đ
                                button.left-item__delete( data-id="#product2")
                                    i.fas.fa-trash
                            li.section-checkout__left-item#product3
                                .left-item__img
                                    a(href="./book-detail-mobile-1.html")
                                        div(class="lazy lazy-opacity bg-layout bg-book-cart" data-bg="./assets/images/checkout/image1.jpg")
                                    span Ebook
                                .left-item__desc
                                    h4
                                        a(href="") Ebook Giáo trình lưới điện phân phối
                                    .left-item__desc-price
                                        span
                                            b 15.000đ
                                            | /cuốn
                                        .num-block.skin-1.block-576.time-cart-mb
                                                .num-in(number-product="0")
                                                    span.minus.dis
                                                    input.in-num(type='number' value='0'  )
                                                    span.plus
                                    ul.left-item__desc-list
                                        li.left-item__desc-item
                                            span.color-33 Thành tiền:
                                            b 0đ
                                button.left-item__delete( data-id="#product3")
                                    i.fas.fa-trash
                            li.section-checkout__left-item#product4
                                .left-item__img
                                    a(href="./book-detail-mobile-1.html")
                                        div(class="lazy lazy-opacity bg-layout bg-book-cart" data-bg="./assets/images/checkout/image1.jpg")
                                    span Ebook
                                .left-item__desc
                                    h4
                                        a(href="") Ebook Giáo trình lưới điện phân phối
                                    .left-item__desc-price
                                        span
                                            b 15.000đ
                                            | /cuốn
                                        .num-block.skin-1.block-576.time-cart-mb
                                                .num-in(number-product="1")
                                                    span.minus.dis
                                                    input.in-num(type='number' value='1' )
                                                    span.plus
                                    ul.left-item__desc-list
                                        li.left-item__desc-item
                                            span.color-33 Thành tiền:
                                            b 45.000đ
                                button.left-item__delete( data-id="#product4")
                                    i.fas.fa-trash
                .col-lg-6
                    .section-checkout__right
                        h3.title Thông tin đơn hàng
                        .section-checkout__right-content
                            ul.section-checkout__right-list
                                li.section-checkout__right-item
                                    b Tạm tính:
                                    span 900.000đ
                                li.section-checkout__right-item
                                    b Giảm giá:
                                    span.discount -25.000đ
                                li.section-checkout__right-item.section-checkout__right-item--money
                                    b Thành tiền:
                                    span.money 900.000đ
                            .insert-code
                                h4 Nhập mã giảm giá nếu có:
                                .insert-code__group
                                    .row
                                        .col-sm-8.col-7
                                            input.input-field(type='text' placeholder='Nhập mã')
                                        .col-sm-4.col-5
                                            button Áp dụng
                            a(href="checkout-mobile-1.html").btn-pay Thanh toán
