.my-account
    .container
        .row 
            .col-lg-3.col-md-4
                include ../components/account-sidebar.pug
                +slide__bar("password-change")
            .col-lg-9.col-md-8
                .change__password-content
                    h2.content__heading Đổi mật khẩu
                    form(action="")
                        .form-group
                            label Mật khẩu cũ
                            .form-input
                                input.form-control(type="password" placeholder="Mật khẩu cũ" class="nxb__pw")
                                img(class="lazy" data-src="./assets/images/login-register/eyes.svg").icon__small
                        .form-group
                            label Mật khẩu mới
                            .form-input
                                input.form-control(type="password" placeholder="Mật khẩu mới" class="nxb__pw")
                                img(class="lazy" data-src="./assets/images/login-register/eyes.svg").icon__small
                        .form-group
                            label Xác nhận mật khẩu
                            .form-input
                                input.form-control(type="password" placeholder="Xác nhận mật khẩu" class="nxb__pw")
                                img(class="lazy" data-src="./assets/images/login-register/eyes.svg").icon__small
                        .form-group
                            button.btn.btn-primary Cập nhật