.infoaccount
    .container
        .row
            include ../components/account-sidebar-mb.pug
            +slide__bar-mb("Đổi mật khẩu")
        .infoaccount__main-form
            form(action="")
                .form-input.mb-3
                    img(class="lazy" data-src="./assets/images/info-account-mb/log.svg" class="icon-input" alt="")
                    input(type="password" class="form-control form-control-sm ellipsis" placeholder="Mật khẩu cũ" class="nxb__pw")
                    img(class="lazy" data-src="./assets/images/info-account-mb/eyes.svg" alt="").icon__small.icon__show
                .form-input.mb-3
                    img(class="lazy" data-src="./assets/images/info-account-mb/log.svg" class="icon-input" alt="")
                    input(type="password" class="form-control form-control-sm ellipsis" placeholder="Mật khẩu mới" class="nxb__pw")
                    img(class="lazy" data-src="./assets/images/info-account-mb/eyes.svg" alt="").icon__small.icon__show
                .form-input.mb-3
                    img(class="lazy" data-src="./assets/images/info-account-mb/log.svg" class="icon-input" alt="")
                    input(type="password" class="form-control form-control-sm ellipsis" placeholder="Xác nhận mật khẩu" class="nxb__pw")
                    img(class="lazy" data-src="./assets/images/info-account-mb/eyes.svg" alt="").icon__small.icon__show
                .form-input.form-btn
                    input(type="submit" value="Cập nhật mật khẩu")