.section-checkout
    .container
        .section-checkout__content
            .row
                .col-lg-6
                    .section-checkout__left
                        .payment
                            h3.title Phương thức thanh toán
                            .payment-group
                                label.paymentMethod.cod
                                    .method.active
                                        .icon
                                            img(class="lazy" data-src="./assets/images/checkout/iconCOD.svg", alt="")
                                        .text
                                            h4 Thanh toán khi nhận hàng
                                            span Bằng tiền mặt
                                        span.tag
                                            i.fas.fa-check
                                        input(type='radio' name='options' checked='')
                                label.paymentMethod.vnpay
                                    .method
                                        .icon
                                            img(class="lazy" data-src="./assets/images/checkout/iconCOD2.svg", alt="")
                                        .text
                                            h4 Thanh toán qua VN Pay
                                            span Ví điện tử VN Pay
                                        span.tag
                                            i.fas.fa-check
                                        input(type='radio' name='options' checked='')
                                label.paymentMethod.bank
                                    .method
                                        .icon
                                            img(class="lazy" data-src="./assets/images/checkout/iconCOD3.svg", alt="")
                                        .text
                                            h4 Thanh toán bằng số dư tài khoản
                                            span Số dư không đủ 12.000đ
                                                a(href="") Nạp thêm
                                        span.tag
                                            i.fas.fa-check
                                        input(type='radio' name='options' checked='')
                        .info-user
                            h3.title Thông tin người nhận
                                a(href="checkout-desktop-2.html") Thay đổi
                            ul
                                li
                                    span
                                        i.fas.fa-user 
                                        | Hoàng Đức Tuấn            
                                li
                                    span
                                        i.fas.fa-phone-alt 
                                        |+84 936 255 358            
                                li
                                    span
                                        i.fas.fa-map-marker-alt 
                                        |Tòa A Hồ Gươm plaza, Vũ Trọng Khánh, Phường Mộ Lao, Quận Hà Đông, Hà Nội            
                .col-lg-6
                    .section-checkout__right
                        h3.title Thông tin đơn hàng
                        .section-checkout__right-content
                            ul.section-checkout__right-list
                                li.section-checkout__right-item
                                    b Mã đơn hàng
                                    span.code #125464754
                                li.section-checkout__right-item
                                    b Tạm tính:
                                    span 900.000đ
                                li.section-checkout__right-item
                                    b Phí vận chuyển:
                                    span 25.000đ
                                li.section-checkout__right-item
                                    b Giảm giá:
                                    span.discount -25.000đ
                                li.section-checkout__right-item.section-checkout__right-item--money
                                    b Thành tiền:
                                    span.money 900.000đ
                            .desc-btn
                                p.desc
                                    |Bằng việc nhấn thanh toán, bạn đồng ý với 
                                    a(href="") Các điều khoản khách hàng 
                                    |của Nhà xuất bản Xây Dựng
                                a(href="./checkout-complete-desktop.html").btn-pay Thanh toán bằng tiền mặt


