.section-checkout#checkout-mb-info
    .container
        .section-checkout__content
            .row
                .col-lg-6
                    .section-checkout__left
                        .payment
                            h3.title Phương thức thanh toán
                            .payment-group
                                label.paymentMethod.cod
                                    .method.active
                                        .icon
                                            img(class="lazy" data-src="./assets/images/checkout/iconCOD.svg", alt="")
                                        .text
                                            h4 Thanh toán khi nhận hàng
                                            span Bằng tiền mặt
                                        input(type='radio' name='options' checked='')
                                        span.tag
                                            i.fas.fa-check
                                label.paymentMethod.vnpay
                                    .method
                                        .icon
                                            img(class="lazy" data-src="./assets/images/checkout/iconCOD2.svg", alt="")
                                        .text
                                            h4 Thanh toán qua VN Pay
                                            span Ví điện tử VN Pay
                                        input(type='radio' name='options' checked='')
                                        span.tag
                                            i.fas.fa-check
                                label.paymentMethod.bank
                                    .method
                                        .icon
                                            img(class="lazy" data-src="./assets/images/checkout/iconCOD3.svg", alt="")
                                        .text
                                            h4 Với số dư ví chính
                                            span Số dư không đủ 
                                                b 12.000đ
                                                a(href="") Nạp thêm
                                        input(type='radio' name='options' checked='')
                                        span.tag
                                            i.fas.fa-check
                                label.paymentMethod.Wallet
                                    .method
                                        .icon
                                            img(class="lazy" data-src="./assets/images/checkout/iconWallet.svg", alt="")
                                        .text
                                            h4 Với số dư ví khuyến mại
                                            span  
                                                b 12.000đ
                                                |chỉ sử dụng để mua ebook
                                        input(type='radio' name='options' checked='')
                                        span.tag
                                            i.fas.fa-check              
                .col-lg-6
                    .section-checkout__right
                        h3.title Thông tin đơn hàng
                        .section-checkout__right-content
                            ul.section-checkout__right-list
                                li.section-checkout__right-item
                                    b Tạm tính:
                                    span 900.000đ
                                li.section-checkout__right-item
                                    b Phí vận chuyển:
                                    span 25.000đ
                                li.section-checkout__right-item
                                    b Giảm giá:
                                    span.discount -25.000đ
                                li.section-checkout__right-item.section-checkout__right-item--money
                                    b Thành tiền:
                                    span.money 900.000đ
                            .desc-btn
                                p.desc
                                    |Bằng việc nhấn thanh toán, bạn đồng ý với 
                                    a(href="") Các điều khoản khách hàng 
                                    |của Nhà xuất bản Xây Dựng
                                a(href="./checkout-mobile-4.html").btn-pay Thanh toán bằng tiền mặt