.section-checkout
    .container
        .section-checkout__content
            .row
                .col-lg-6.border-right-1px
                    .section-checkout__left
                        h3.title Danh sách sản phẩm
                        ul.section-checkout__left-list
                            li.section-checkout__left-item#product1
                                .left-item__img
                                    a(href="./book-detail-desktop.html")
                                        div(class="lazy lazy-opacity bg-layout bg-book-cart" data-bg="./assets/images/checkout/image1.jpg")
                                    span Ebook
                                .left-item__desc
                                    h4
                                        a(href="./book-detail-desktop.html") Ebook Giáo trình lưới điện phân phối
                                    .left-item__desc-price
                                        span
                                            b 15.000đ
                                            | /tháng
                                    ul.left-item__desc-list
                                        li.left-item__desc-item
                                            span.color-33.none-576 Thời gian
                                            .time.click-show-dropdow
                                                input.valua-time(type='text' value="1 tháng")
                                                p.time-text 1 tháng
                                                i.fas.fa-angle-down   
                                                ul.dropdow
                                                    li
                                                        input.get-valua-number(type='checkbox' value="1" )
                                                        i.fas.fa-check
                                                        span.get-valua-text 1 tháng
                                                    li
                                                        input.get-valua-number(type='text' value="3" )
                                                        i.fas.fa-check
                                                        span.get-valua-text 3 tháng
                                                    li
                                                        input.get-valua-number(type='text' value="6" )
                                                        i.fas.fa-check
                                                        span.get-valua-text 6 tháng
                                                    li
                                                        input.get-valua-number(type='text' value="999" )
                                                        i.fas.fa-check
                                                        span.get-valua-text Vĩnh viễn
                                        li.left-item__desc-item
                                            span.color-33 Thành tiền:
                                            b 45.000đ
                                button.left-item__delete( data-id="#product1")
                                    i.fas.fa-trash
                            li.section-checkout__left-item#product2
                                .left-item__img
                                    a(href="./book-detail-desktop.html")
                                        div(class="lazy lazy-opacity bg-layout bg-book-cart" data-bg="./assets/images/checkout/image1.jpg")
                                    span Ebook
                                .left-item__desc
                                    h4
                                        a(href="./book-detail-desktop.html") Ebook Giáo trình lưới điện phân phối
                                    .left-item__desc-price
                                        span
                                            b 15.000đ
                                            | /tháng
                                    ul.left-item__desc-list
                                        li.left-item__desc-item
                                            span.color-33.none-576 Thời gian
                                            .time.click-show-dropdow
                                                input.valua-time(type='text' value="1 tháng")
                                                p.time-text 1 tháng
                                                i.fas.fa-angle-down
                                                ul.dropdow
                                                    li
                                                        input.get-valua-number(type='checkbox' value="1" )
                                                        i.fas.fa-check
                                                        span.get-valua-text 1 tháng
                                                    li
                                                        input.get-valua-number(type='text' value="3" )
                                                        i.fas.fa-check
                                                        span.get-valua-text 3 tháng
                                                    li
                                                        input.get-valua-number(type='text' value="6" )
                                                        i.fas.fa-check
                                                        span.get-valua-text 6 tháng
                                                    li
                                                        input.get-valua-number(type='text' value="999" )
                                                        i.fas.fa-check
                                                        span.get-valua-text Vĩnh viễn
                                        li.left-item__desc-item
                                            span.color-33 Thành tiền:
                                            b 45.000đ
                                button.left-item__delete( data-id="#product2")
                                    i.fas.fa-trash
                            li.section-checkout__left-item#product3
                                .left-item__img
                                    a(href="./book-detail-desktop.html")
                                        div(class="lazy lazy-opacity bg-layout bg-book-cart" data-bg="./assets/images/checkout/image1.jpg")
                                    span Ebook
                                .left-item__desc
                                    h4
                                        a(href="./book-detail-desktop.html") Ebook Giáo trình lưới điện phân phối
                                    .left-item__desc-price
                                        span
                                            b 15.000đ
                                            | /cuốn
                                    ul.left-item__desc-list
                                        li.left-item__desc-item.over
                                            span.color-33.none-576 Đang tạm hết
                                            .num-block.skin-1
                                                .num-in(number-product="0")
                                                    span.minus.dis
                                                    input.in-num(type='number' value='0' )
                                                    span.plus
                                        li.left-item__desc-item
                                            span.color-33 Thành tiền:
                                            b 0đ
                                button.left-item__delete( data-id="#product3")
                                    i.fas.fa-trash
                            li.section-checkout__left-item#product4
                                .left-item__img
                                    a(href="./book-detail-desktop.html")
                                        div(class="lazy lazy-opacity bg-layout bg-book-cart" data-bg="./assets/images/checkout/image1.jpg")
                                    span Ebook
                                .left-item__desc
                                    h4
                                        a(href="./book-detail-desktop.html") Ebook Giáo trình lưới điện phân phối
                                    .left-item__desc-price
                                        span
                                            b 15.000đ
                                            | /cuốn
                                    ul.left-item__desc-list
                                        li.left-item__desc-item
                                            span.color-33.none-576 Số lượng
                                            .num-block.skin-1
                                                .num-in(number-product="1")
                                                    span.minus.dis
                                                    input.in-num(type='number' value='1' )
                                                    span.plus
                                        li.left-item__desc-item
                                            span.color-33 Thành tiền:
                                            b 45.000đ
                                button.left-item__delete( data-id="#product4")
                                    i.fas.fa-trash
                .col-lg-6
                    .section-checkout__right
                        h3.title Thông tin đơn hàng
                        .section-checkout__right-content
                            ul.section-checkout__right-list
                                li.section-checkout__right-item
                                    b Tạm tính:
                                    span 900.000đ
                                li.section-checkout__right-item
                                    b Giảm giá:
                                    span.discount -25.000đ
                                li.section-checkout__right-item.section-checkout__right-item--money
                                    b Thành tiền:
                                    span.money 900.000đ
                            .insert-code
                                h4 Nhập mã giảm giá nếu có:
                                .insert-code__group
                                    .row
                                        .col-sm-8.col-7
                                            input.input-field(type='text' placeholder='Nhập mã')
                                        .col-sm-4.col-5
                                            button Áp dụng
                            a(href="./checkout-desktop-2.html").btn-pay Thanh toán


