.section-checkout#checkout-mb-info
    .container
        .section-checkout__content.confirm
            .row
                .col-lg-6.col-12
                    .section-checkout__left
                        .payment
                            h3.title.confirm-code Mã đơn hàng
                                span.code #125464754
                        .info-user
                            h3.title.confirm-code Thông tin người nhận
                                a(href="checkout-mobile-2.html") Thay đổi
                            ul
                                li
                                    img(class="lazy" data-src="./assets/images/checkout/add-29.svg", alt="")
                                    span Hoàng Đức Tuấn            
                                li
                                    img(class="lazy" data-src="./assets/images/checkout/phone.svg", alt="")
                                    span +84 936 255 358            
                                li
                                    
                                    img(class="lazy" data-src="./assets/images/checkout/shape.svg", alt="")
                                    span Tòa A Hồ Gươm plaza, Vũ Trọng Khánh, Phường Mộ Lao, Quận Hà Đông, Hà Nội  
                        .payment-group.confirm-code
                            h3.title.confirm-code Hình thức thanh toán
                                a(href="checkout-mobile-3.html") Thay đổi
                            label.paymentMethod.cod
                                .method.active
                                    .icon
                                        img(class="lazy" data-src="./assets/images/checkout/iconCOD.svg", alt="")
                                    .text
                                        h4 Thanh toán khi nhận hàng
                                        span Bằng tiền mặt
                        .section-checkout__right-item.section-checkout__right-item--money.confirm-code
                            b Thành tiền:
                            span.money 900.000đ
                        .desc-btn
                            a(href="./checkout-complete-mobile.html").btn-pay.button.btn-order  Đặt hàng
                        #snackbar 
                            i.fas.fa-check-circle
                            span Đặt hàng thành công
                                       


