.checkout-detail 
    .checkout__list
        .list-img
            img(src="./assets/images/checkout-complete/Group.png", alt="")
        h5.title-complete Đặt Hàng Thành Công  
        p.descrip-pay Vui lòng chuẩn bị số tiền cần thanh toán
        p.total-pay 
            span 900.000 đ 
        p.code-product Mã Đơn Hàng 
            span.code D90283-020293.   
        p.info-product Xem thông tin đơn hàng 
            span 
                a(href="#") tại đây
        .support-check 
            p.info-cont Để được hỗ trợ vui lòng gọi vào hotline 
                span.number-phone 0988.888.888 
            p.info-cont hoặc Zalo 
                span.number-phone 0986.666.666                
