.checkout__detail-desktop
    .checkout__detail-top
        .list-img
            img(src="./assets/images/checkout-complete/Group.png", alt="")
        h1.title-complete Đặt Hàng Thành Công
    .checkout__detail-bottom
        p.descrip-pay Cảm ơn bạn đã đặt hàng tại nxbxaydung.com.vn
        p.total-pay Bạn đã thanh toán thành công số tiền
            span  233.000 đ
        p.code-product Mã Đơn Hàng
            span.code  D90283-020293.
        p.info-product Để xem thông tin đơn hàng vui lòng
            a(href="#") xem tại đây
        .support-check
            p.info-cont Để được hỗ trợ vui lòng gọi vào hotline
                span.number-phone 0988.888.888
                span  hoặc Zalo
                span.number-phone 0986.666.666
