.samplecdeclaration-wrapper
    .container
        .row
            .col-lg-6
                .wrapper-left
                    .left-direction
                        button.btn Mẫu khai sẵn
                        button.btn.active Mẫu trống
                    .left-iframe
                        .iframe-head
                            span.head-text Mẫu xác nhận về đối tượng và thực trạng nhà ở để đăng ký thuê,...
                        iframe(src='https://drive.google.com/file/d/0B8Wj3qWIT_ZwYmp3cDBocWZnelE/preview' frameborder='0' class="left-iframe-iframeIndex")
            .col-lg-6
                include ../components/declaration-form.pug


                            
 

                        
