.detail-order-desktop
    .container
        .detailOrder-content
            .detailOrder-content__top.d-flex.justify-content-between.align-items-center
                .left.d-flex.align-items-center
                    h3 Trạng thái: 
                    button.pending Đang chờ duyệt
                .right.d-flex.align-items-center
                    a(href="").delete.d-flex.align-items-center
                        img(src="assets/images/ic_delete_forever_48px.svg", alt="")
                        |Huỷ đơn hàng
                    a(href="").hotline.d-flex.align-items-center
                        img(src="assets/images/bx_bxs-phone-call.svg", alt="")
                        .text.d-flex.flex-column
                            span Hotline hỗ trợ:
                            span.phone (0243)8218785
            .detailOrder-content__bot
                .row
                    .col-lg-8
                        .bot-table.table-responsive-xl
                            table.table
                                thead
                                    tr 
                                        th(scope='col') STT
                                        th(scope='col') Sản phẩm
                                        th(scope='col') Loại
                                        th(scope='col') Số lượng
                                        th.text-right(scope='col') Thành tiền
                                tbody
                                    tr
                                        th(scope='row') 1
                                        td 
                                            h4.sort-desc Hệ thống giao thông thông minhn trong các đô thị thông minh
                                        td.text-center
                                            span.blue-outline Ebook
                                        td 1
                                        td.text-right 115.000 đ 
                                    tr
                                        th(scope='row') 2
                                        td 
                                            .sort-desc Hệ thống giao thông thông minhn trong các đô thị thông minh
                                        td.text-center
                                            span.blue-outline Sách
                                        td 1
                                        td.text-right 115.000 đ 
                                    tr
                                        th(scope='row') 3
                                        td 
                                            .sort-desc Hệ thống giao thông thông minhn trong các đô thị thông minh
                                        td.text-center
                                            span.blue-outline Ebook
                                        td 1
                                        td.text-right 115.000 đ 
                                    tr
                                        th(scope='row') 4
                                        td 
                                            .sort-desc Hệ thống giao thông thông minhn trong các đô thị thông minh
                                        td.text-center
                                            span.blue-outline Ebook
                                        td 1
                                        td.text-right 115.000 đ 
                                    tr
                                        th(scope='row') 5
                                        td 
                                            .sort-desc Hệ thống giao thông thông minhn trong các đô thị thông minh
                                        td.text-center
                                            span.blue-outline Ebook
                                        td 1
                                        td.text-right 115.000 đ 
                        ul.info-money
                            li
                                .row
                                    .col-6
                                        h4 Tổng cộng
                                    .col-6.text-right
                                        span 820.000 đ
                            li
                                .row
                                    .col-6
                                        h4 Khuyến mãi
                                    .col-6.text-right
                                        span -25.000 đ
                            li.border-solid
                                .row
                                    .col-6
                                        h4 Phí ship
                                    .col-6.text-right
                                        span 20.000 đ
                            li.into-money
                                .row
                                    .col-6
                                        h4 Thành tiền
                                    .col-6.text-right
                                        span 815.000 đ
                    .col-lg-4
                        .right-info
                            h3.justify-content-between Thông tin đơn hàng:
                            table.table
                                tbody.info
                                    tr
                                        th(scope='row') Mã đơn:
                                        td #029374028
                                    tr
                                        th(scope='row') Ngày:
                                        td 03/03/12 22:43
                                    tr
                                        th(scope='row') Hình thức:
                                        td Chuyển khoản
                                    tr
                                        th(scope='row') Trạng thái:
                                        td Đã thanh toán
                            h3.d-flex.justify-content-between Giao đến:
                                a(href="./edit-order-desktop.html").blue-outline Sửa
                            table.table
                                tbody.adress
                                    tr
                                        th(scope='row') Họ tên:
                                        td Phùng Thị Hồng Thắm
                                    tr
                                        th(scope='row') SĐT:
                                        td 0987654321
                                    tr
                                        th(scope='row') Địa chỉ:
                                        td P A2808, Hồ Gươm Plaza, 110 Trần Phú, Mỗ Lao, Hà Đông
                                    tr
                                        th(scope='row') Giao qua:
                                        td.d-flex.align-items-center.flex-wrap.info-pay
                                            span.namepay Viettel Post
                                            a(href="").search.d-flex.align-items-center
                                                img(src="assets/images/search.svg", alt="")
                                                |Tra đơn
                                    tr
                                        th(scope='row') Mã vận đơn:
                                        td #9290308
                                    tr
                                        th(scope='row') Trạng thái:
                                        td Đã giao hàng