.edit-order
    .section-checkout
        .container
            .section-checkout__content
                .row
                    .col-lg-6.pdr
                        .section-checkout__left
                            .info
                                h3.title Thông tin người nhận
                                form(action="")
                                    .row
                                        .col-12
                                            .form-group
                                                label(for='') Họ và tên
                                                .input-group
                                                    span.form-icon
                                                        i.fas.fa-user
                                                    input.form-control.hover-input(type='text' placeholder='Họ và tên' aria-label='Họ và tên' )

                                        .form-phone-email
                                            .form-phone
                                                .form-group
                                                    label(for='') Số điện thoại
                                                    .input-group
                                                        span.form-icon
                                                            i.fas.fa-phone-alt
                                                        input.form-control.hover-input(type='phone' placeholder='Số điện thoại' aria-label='Số điện thoại' )
                                            .form-email
                                                .form-group
                                                    label(for='') Email
                                                    .input-group
                                                        span.form-icon
                                                            i.fas.fa-envelope
                                                        input.form-control.hover-input(type='Email' placeholder='Email' aria-label='Email' )
                                        .col-md-6
                                            .form-group
                                                label(for='') Chọn Tỉnh/TP
                                                .input-group
                                                    span.form-icon
                                                        i.fas.fa-map-marked-alt
                                                    .dropdow-adress.form-control.click-show-dropdow
                                                        select.select-option
                                                            option(value='placeholder' selected='' disabled='') Chọn Tỉnh/TP
                                                            option(value='dn') Đà Nắng
                                                            option(value='tphcm') TPHCM
                                                            option(value='hn') Hà Nội
                                                            option(value='hue') Huế
                                                            option(value='cantho') Cần Thơ
                                                        img.lazy.entered.loaded(alt='' src='./assets/images/checkout-mb-1/arrow.svg')
                                        .col-md-6.pdl-9
                                            .form-group
                                                label(for='') Chọn Quận/Huyện
                                                .input-group
                                                    span.form-icon
                                                        i.fas.fa-map-marked-alt
                                                    .dropdow-adress.form-control.click-show-dropdow
                                                        select.select-option
                                                            option(value='placeholder' selected='' disabled='') Chọn Quận/Huyện
                                                            option(value='dn') Đà Nắng
                                                            option(value='tphcm') TPHCM
                                                            option(value='hn') Hà Nội
                                                            option(value='hue') Huế
                                                            option(value='cantho') Cần Thơ
                                                        img.lazy.entered.loaded(alt='' src='./assets/images/checkout-mb-1/arrow.svg')
                                        .col-12
                                            .form-group
                                                label(for='') Địa chỉ
                                                .input-group
                                                    span.form-icon
                                                        i.fas.fa-map-marker-alt
                                                    input.form-control.hover-input(type='text' placeholder='Nhập vị trí' aria-label='Địa chỉ' )
                                        .col-12
                                            .form-group
                                                label(for='') Ghi chú
                                                .input-group.form-area
                                                    textarea.hover-input(name='user_bio' placeholder='Nhập nội dung')
                                                    .form-area__icon
                                                        img(class="lazy" data-src="./assets/images/checkout/Icon.svg", alt="")
                                        .col-12
                                            .btn-submit.d-flex.justify-content-center
                                                button Cập nhật
                                        
                    .col-lg-6.pdl
                        .section-checkout__right
                            h3.title Thông tin đơn hàng
                            .section-checkout__right-content
                                ul.section-checkout__right-list
                                    li.section-checkout__right-item
                                        b Mã đơn hàng
                                        span.code #125464754
                                    li.section-checkout__right-item
                                        b Tạm tính:
                                        span 900.000đ
                                    li.section-checkout__right-item
                                        b Phí vận chuyển:
                                        span 25.000đ
                                    li.section-checkout__right-item
                                        b Giảm giá:
                                        span.discount -25.000đ
                                    li.section-checkout__right-item.section-checkout__right-item--money
                                        b Thành tiền:
                                        span.money 900.000đ
                                .desc-btn
                                    p.desc
                                        |Bằng việc nhấn thanh toán, bạn đồng ý với 
                                        a(href="") Các điều khoản khách hàng 
                                        |của Nhà xuất bản Xây Dựng