.infoaccount
    .container
        .row
            include ../components/account-sidebar-mb.pug
            +slide__bar-mb("Quên mật khẩu")
        .infoaccount__main-form
            .form__title-forget.text-center
                h4 Điền<span> số điện thoại hoặc email đã đăng ký</span> để lấy lại mật khẩu
            form(action="").form__forget
                .form-input.input__forget
                    img(class="lazy" data-src="./assets/images/info-account-mb/forget.svg" class="icon-input" alt="")
                    input(type="password" class="form-control form-control-sm ellipsis" placeholder="Email/SĐT")
                .form-input.form-btn
                    input(type="submit" value="Lấy lại mật khẩu")