.home__page
    .banner__section
        .container
            include ../components/home-slider.pug
    .typical-box__section
        .container
            include ../components/typical-book-slider.pug
            +typical__book-slider("Sách mới nổi")
    .book-box__section
        .container
            .row
                .col-lg-6
                    include ../components/new-book.pug
                    +new__book("Sách mới")
                .col-lg-6
                    include ../components/new-book.pug
                    +new__book("Bạn sẽ thích sách này")
    .topic-box__section
        .container
            .row
                .col-lg-12
                    include ../components/topic.pug
                    +topic(12, "Chủ đề")
    .new-box__section
        .container
            .row
                .col-lg-8
                    include ../components/latest-news.pug
                .col-lg-4
                    include ../components/legal-documents.pug
    .service-box__section
        include ../components/service.pug
    .partner-box__section
        .container
            .row
                .col-12
                    include ../components/partner.pug
    .author-box__section
        include ../components/author.pug
    .print-service_box__section
        include ../components/print-service.pug