.home-sp
    .home__section_sp.home_slider
        include ../components/home-slider-sp.pug
    .home__section_sp.new_book__section-sp
        .container
            .row
                include ../components/typical-book.pug
                +typical__book("Sách mới")
        .container
            .row
                include ../components/typical-book.pug
                +typical__book("Sách nổi bật","large")
        .container
            .row
                include ../components/favourite-book.pug
                +favourite-book("Bạn sẽ thích sách này", "large")
    .home__section_sp.service__section-sp
        include  ../components/service.pug
    .home__section_sp.author__section-sp
        include  ../components/author.pug
    .home__section_sp.print-service__section-sp
        include  ../components/print-service.pug
    .home__section_sp.partner__section-sp
        .container
            .row
                .col-12
                    include  ../components/partner.pug
