.list__category-wrapper-mb
    .container
        .row
            include ../components/typical-book.pug
            +typical__book('Giáo trình mới')
        .list__category-topic-section
            include ../components/topic.pug
            +topic(18, "Các chủ đề")
