section.list__book-mobile.list__category-wrapper.category__mb-wrapper
    .container
        .row
            .typical__book
                .typical__book-title
                    .box
                        h3.book__title-content Sách nổi bật
                .typical__book-wrapper
                    .col-sm-12.col-xs-12
                        - for(var i=0;i<6;i++){
                            .col-sm-2
                                .book__wrapper-content(class=`${size === "large" ? 'typical__book-large': ''}`)
                                    .wrapper__content-img
                                        a(href="./book-detail-mobile-1.html")
                                            div(class="lazy lazy-opacity bg-layout bg-book-slider-2" data-bg="./assets/images/book-box/book-tcvn.jpg")
                                    .wrapper__content-infor
                                        .content__infor-text
                                            a(href="./book-detail-mobile-2.html")
                                                p.infor__text-desktop Hệ thống giao thông thông minh trong các đô thị thông minh. Các...
                                                p.infor__text-mobile Hironaka Hiroe
                                        if size === "large"
                                            .content__infor-rating
                                                svg(width='68' height='12' viewbox='0 0 68 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M10.6428 4.80324L7.69268 4.37589L6.37491 1.71294C6.29695 1.581 6.1548 1.5 6.0012 1.5C5.84759 1.5 5.70544 1.581 5.62749 1.71294L4.30721 4.37589L1.35711 4.80324C1.20018 4.82582 1.0697 4.93526 1.02054 5.08553C0.97138 5.23581 1.01206 5.40088 1.12547 5.51134L3.26066 7.58539L2.75696 10.5146C2.73018 10.6704 2.79445 10.8278 2.92275 10.9207C3.05105 11.0136 3.22112 11.0258 3.36148 10.9523L5.99995 9.56973L8.63841 10.9523C8.77877 11.0258 8.94885 11.0136 9.07714 10.9207C9.20544 10.8278 9.26971 10.6704 9.24293 10.5146L8.73923 7.58539L10.8744 5.51134C10.9878 5.40099 11.0286 5.23608 10.9796 5.08585C10.9306 4.93562 10.8004 4.82608 10.6436 4.80324H10.6428Z' fill='#FFCE47')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M24.6428 4.80324L21.6927 4.37589L20.3749 1.71294C20.297 1.581 20.1548 1.5 20.0012 1.5C19.8476 1.5 19.7054 1.581 19.6275 1.71294L18.3072 4.37589L15.3571 4.80324C15.2002 4.82582 15.0697 4.93526 15.0205 5.08553C14.9714 5.23581 15.0121 5.40088 15.1255 5.51134L17.2607 7.58539L16.757 10.5146C16.7302 10.6704 16.7945 10.8278 16.9227 10.9207C17.051 11.0136 17.2211 11.0258 17.3615 10.9523L19.9999 9.56973L22.6384 10.9523C22.7788 11.0258 22.9488 11.0136 23.0771 10.9207C23.2054 10.8278 23.2697 10.6704 23.2429 10.5146L22.7392 7.58539L24.8744 5.51134C24.9878 5.40099 25.0286 5.23608 24.9796 5.08585C24.9306 4.93562 24.8004 4.82608 24.6436 4.80324H24.6428Z' fill='#FFCE47')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M38.6428 4.80324L35.6927 4.37589L34.3749 1.71294C34.297 1.581 34.1548 1.5 34.0012 1.5C33.8476 1.5 33.7054 1.581 33.6275 1.71294L32.3072 4.37589L29.3571 4.80324C29.2002 4.82582 29.0697 4.93526 29.0205 5.08553C28.9714 5.23581 29.0121 5.40088 29.1255 5.51134L31.2607 7.58539L30.757 10.5146C30.7302 10.6704 30.7945 10.8278 30.9227 10.9207C31.051 11.0136 31.2211 11.0258 31.3615 10.9523L33.9999 9.56973L36.6384 10.9523C36.7788 11.0258 36.9488 11.0136 37.0771 10.9207C37.2054 10.8278 37.2697 10.6704 37.2429 10.5146L36.7392 7.58539L38.8744 5.51134C38.9878 5.40099 39.0286 5.23608 38.9796 5.08585C38.9306 4.93562 38.8004 4.82608 38.6436 4.80324H38.6428Z' fill='#FFCE47')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M52.6428 4.80324L49.6927 4.37589L48.3749 1.71294C48.297 1.581 48.1548 1.5 48.0012 1.5C47.8476 1.5 47.7054 1.581 47.6275 1.71294L46.3072 4.37589L43.3571 4.80324C43.2002 4.82582 43.0697 4.93526 43.0205 5.08553C42.9714 5.23581 43.0121 5.40088 43.1255 5.51134L45.2607 7.58539L44.757 10.5146C44.7302 10.6704 44.7945 10.8278 44.9227 10.9207C45.051 11.0136 45.2211 11.0258 45.3615 10.9523L47.9999 9.56973L50.6384 10.9523C50.7788 11.0258 50.9488 11.0136 51.0771 10.9207C51.2054 10.8278 51.2697 10.6704 51.2429 10.5146L50.7392 7.58539L52.8744 5.51134C52.9878 5.40099 53.0286 5.23608 52.9796 5.08585C52.9306 4.93562 52.8004 4.82608 52.6436 4.80324H52.6428Z' fill='#FFCE47')
                                                    g(opacity='0.32')
                                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M66.6428 4.80324L63.6927 4.37589L62.3749 1.71294C62.297 1.581 62.1548 1.5 62.0012 1.5C61.8476 1.5 61.7054 1.581 61.6275 1.71294L60.3072 4.37589L57.3571 4.80324C57.2002 4.82582 57.0697 4.93526 57.0205 5.08553C56.9714 5.23581 57.0121 5.40088 57.1255 5.51134L59.2607 7.58539L58.757 10.5146C58.7302 10.6704 58.7945 10.8278 58.9227 10.9207C59.051 11.0136 59.2211 11.0258 59.3615 10.9523L61.9999 9.56973L64.6384 10.9523C64.7788 11.0258 64.9488 11.0136 65.0771 10.9207C65.2054 10.8278 65.2697 10.6704 65.2429 10.5146L64.7392 7.58539L66.8744 5.51134C66.9878 5.40099 67.0286 5.23608 66.9796 5.08585C66.9306 4.93562 66.8004 4.82608 66.6436 4.80324H66.6428Z' fill='#C1C0C8')
                                        p.content__infor-author Geneva
                                        .content__infor-cost
                                            span 45.0000 VNĐ
                                            - }
        .category__content
            .category__section_textbooks
                include ../components/topic.pug
                +topic(12, "Chuyên mục trong Giáo trình")
                include ../components/filter-menu.pug
            .category__books_in_textbooks.mt-3
                .d-flex.justify-content-between
                    .category__books-headding
                        h4 Giáo trình
                    .icon__filter#btn-filter
                        img(class="lazy" data-src="./assets/images/filter.svg" src="./assets/images/filter.svg")
                        span Lọc
        div(class="search-list-mb-wrapper" style="margin-top: -15px")
            each item in [1,2,3,4,5,6,7]
                include ../components/search-result-mb.pug
.category__pagination-wrapper
    include ../components/pagination-mb.pug