.my-account
    .container
        .row 
            .col-lg-3.col-md-4
                include ../components/account-sidebar.pug
                +slide__bar("account")
            .col-lg-9.col-md-8
                .my-account-content
                    h2.content__heading Thông tin tài khoản 
                    form(action="")
                        .form-group.d-block.d-md-flex.align-items-center
                            label Tên đầy đủ của bạn
                            .form-input
                                input.form-control(placeholder="Họ và tên" value="Hoàng Đức Tuấn")
                                img(class="lazy" data-src="./assets/images/login-register/account.svg")
                        .form-group.d-block.d-md-flex.align-items-center
                            label Số điện thoại của bạn
                            .form-input
                                input.form-control(placeholder="Số điện thoại" value="+84936255358")
                                img(class="lazy" data-src="./assets/images/login-register/phone.svg")
                        .form-group.d-block.d-md-flex.align-items-center
                            label Email của bạn
                            .form-input
                                input.form-control(placeholder="Email" value="tuanhd8789@gmail.com")
                                img(class="lazy" data-src="./assets/images/login-register/fly.svg")
                        .form-group.d-block.d-md-flex.align-items-center
                            label Địa chỉ nhận hàng
                            .form-input
                                input.form-control(placeholder="Địa chỉ" value="Chung cư A5, KDT mới Đại…")
                                img(class="lazy" data-src="./assets/images/my-account/home.svg")
                        .form-group
                            button.btn.btn-primary Cập nhật