.my__account-mobile
    include ../components/account-sidebar-mb.pug
    +slide__bar-mb("Ebook đang đọc")
    .container
        .row
            .account__mobile-reading
                include ../components/account-mobile-reading.pug
            .account__mobile-book
                include ../components/list-book-mb.pug