.my-account-mb-main 
    .my-account-mb-main__content 
        include ../components/account-sidebar-mb.pug
        +slide__bar-mb("Tài khoản của bạn")
    .container 
        .my-account-mb-main__user
            .sidebar__user.d-flex
                .sidebar__user-avatar.d-flex
                    img.user__photo(class="lazy" data-src="./assets/images/my-account-mb-main/user-photo.svg", alt="")
                    h3.user__text T
                p.sidebar__user-full__name.d-flex.align-items-center Hoàng Đức Tuấn
            .sidebar__money
                .money__real.money 
                    p.money__heading Số dư ví thực
                    .money__display.d-flex.align-items-center.justify-content-between
                        .display-price.d-flex.align-items-center
                            img.display__img(class="lazy" data-src="./assets/images/my-account/wallet.svg", alt="")
                            p.display__text 1.580.000đ
                        a(href="./my-account-charge_mobile.html").btn.btn-primary Nạp thêm
                .money__gift.money
                    p.money__heading Số dư ví khuyến mãi
                    .money__display.d-flex.align-items-center
                        img.display__img(class="lazy" data-src="./assets/images/my-account/wallet-gift.svg", alt="")
                        p.display__text 0đ
        .my-account-mb-main__dashboard  
            .row 
                .col-4
                    .bd-r
                    .dashboard__box
                        a(href="./my-account-recent-books-mobile.html")
                            .dashboard__box-img
                                .img__badge
                                    p.img__badge-number 112
                                img(class="lazy" data-src="./assets/images/my-account-mb-main/book.svg" src="./assets/images/my-account-mb-main/book.svg", alt="").img__icon
                            p.dashboard__box-heading Sách đã mua
                .col-4
                    .bd-r 
                    .dashboard__box
                        a(href="./my-account-reading-book-mobile.html")
                            .dashboard__box-img
                                .img__badge
                                    p.img__badge-number 12
                                img(class="lazy" data-src="./assets/images/my-account-mb-main/ebook.svg", alt="").img__icon
                            p.dashboard__box-heading Ebook đang đọc
                .col-4 
                    .dashboard__box
                        .dashboard__box-img
                            .img__badge 
                                p.img__badge-number 1
                            img(class="lazy" data-src="./assets/images/my-account-mb-main/document.svg", alt="").img__icon 
                        p.dashboard__box-heading Văn bản đã mua
                .col-4
                    .bd-r 
                    .dashboard__box
                        a(href="./my-account-info-account-mobile.html")
                            .dashboard__box-img
                                img(class="lazy" data-src="./assets/images/my-account-mb-main/account.svg", alt="").img__icon
                            p.dashboard__box-heading Thông tin tài khoản
                .col-4
                    .bd-r 
                    .dashboard__box
                        a(href="./history-order-mobile.html")
                            .dashboard__box-img
                                img(class="lazy" data-src="./assets/images/my-account-mb-main/history.svg", alt="").img__icon
                            p.dashboard__box-heading Lịch sử mua hàng
                .col-4 
                    .dashboard__box
                        a(href="./purchase-history-mobile.html")
                            .dashboard__box-img
                                img(class="lazy" data-src="./assets/images/my-account-mb-main/history-money.svg", alt="").img__icon
                            p.dashboard__box-heading Lịch sử giao dịch
                            
                .col-4
                    .bd-r
                    .dashboard__box
                        a(href="./my-account-change-password-mobile.html")
                            .dashboard__box-img
                                img(class="lazy" data-src="./assets/images/my-account-mb-main/change-password.svg", alt="").img__icon
                            p.dashboard__box-heading
                                |Đổi mật khẩu
                .col-4 
                    .dashboard__box
                        a(href="./login-mobie.html")
                            .dashboard__box-img
                                img(class="lazy" data-src="./assets/images/my-account-mb-main/log-out.svg", alt="").img__icon
                            p.dashboard__box-heading
                                |Đăng xuất


