.my__account-mb
    .my-account-mb__content
        include ../components/account-sidebar-mb.pug
        +slide__bar-mb("Sách đã mua")
    .container
        .row
            .col-xs-12
                .list__book-wrapper
                    include ../components/list-book-mb-button.pug