.account__search
    .container
            .boxForgotInfo    
                .Forgot__header Lấy Lại Mật Khẩu
                form(class="ForgotInfo")
                    p(class="title") Điền 
                        span(class="colortitle") số điện thoại hoặc email đã đăng ký 
                        span(class="colortitle2") để lấy lại mật khẩu
                    p(class="finput")
                        input(type="text" class="inputtext" placeholder="Địa chỉ email hoặc số điện thoại")
                    a(class="ButtonConfirm" )
                        span(class="ButtonText") Lấy Lại Mật Khẩu
        
