.col-lg-8
    .payment__list 
        h2.list-title Thông tin chi tiết
        .payment__list-gr 
            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Tên mẫu đơn, mẫu tờ khai:
            .list-gr__contend    
                p.list-gr__descrip Đơn đề nghị thuê nhà ở cũ thuộc sở hữu nhà nước theo mẫu hướng dẫn tại phụ lục số 11 ban hành kèm theo Thông tư số 19/2016/TT-BXD ngày 30/6/2016 của Bộ Xây dựng.
            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Căn cứ pháp lý của thủ tục hành chính
            .list-gr__contend    
                p.list-gr__descrip  - Luật Nhà ở năm 2014;
                p.list-gr__descrip  - Nghị định số 99/2015/NĐ-CP ngày 20/10/2015 của Chính phủ quy định chi tiết và hướng dẫn thi hành một số điều của Luật Nhà ở.
                p.list-gr__descrip  - Thông tư số 19/2016/TT-BXD ngày 30/6/2016 của Bộ Xây dựng hướng dẫn thực hiện một số nội dung của Luật Nhà ở và Nghị định số 99/2015/NĐ-CP ngày 20/10/2015 của Chính phủ quy định chi tiết và hướng dẫn thi hành một số điều của Luật Nhà ở.

            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Yêu cầu, điều kiện thực hiện thủ tục hành chính
            .list-gr__contend    
                p.list-gr__descrip Đối tượng được thuê nhà ở cũ thuộc sở hữu nhà nước là người đang thực tế sử dụng nhà ở và có nhu cầu tiếp tục thuê nhà ở, không chiếm dụng nhà ở trái pháp luật, bao gồm các đối tượng được bố trí sử dụng nhà ở từ trước ngày 27/11/1992 và các đối tượng sau:
                p.list-gr__descrip  - Người được phân phối thuê nhà ở đối với nhà ở được cơ quan có thẩm quyền cho phép đầu tư xây dựng bằng nguồn vốn ngân sách nhà nước từ trước ngày 27/11/1992 nhưng từ ngày 27/11/1992 mới hoàn thành xây dựng và đưa vào sử dụng.
                p.list-gr__descrip  - Người đang thuê nhà ở trước ngày 27/11/1992 nhưng thuộc diện phải điều chuyển công tác và Nhà nước yêu cầu phải trả lại nhà ở đang thuê, sau đó được cơ quan nhà nước bố trí cho thuê nhà ờ khác sau ngày 27/11/1992.
                p.list-gr__descrip  - Người được bố trí sử dụng nhà ở hoặc nhà không có nguồn gốc là nhà ở nhưng được bố trí sử dụng trong khoảng thời gian từ ngày 27/11/1992 đến trước ngày 05/7/1994.
                p.list-gr__descrip  - Người được bố trí sử dụng nhà ở hoặc nhà không có nguồn gốc là nhà ở nhưng được bố trí sử dụng trong khoảng thời gian từ ngày 05/7/1994 đến trước ngày 19/01/2007.
            .list-gr__item.mt-3 
                .item-img
                    img(src="./assets/images/payment-113/big.png", alt="") 
                h4.item-title Tên mẫu đơn, mẫu tờ khai:
            p.item-title__sub.list-gr__contend a) Thành phần hồ sơ
                span (16 văn bản)
            ul.list__content 
                li.content-item
                    .content-item__gr 
                        .item-img
                            img(src="./assets/images/payment-113/docx.png", alt="") 
                        h4.item-title Tên mẫu đơn, mẫu tờ khai:
                        .item-choice 
                            span.active Xem bản mẫu 
                            span.seen Đã khai 
                            span.seen Đã in
                li.content-item
                    .content-item__gr 
                        .item-img
                            img(src="./assets/images/payment-113/docx.png", alt="") 
                        h4.item-title Giấy tờ chứng minh việc sử dụng nhà ở. 
                        .item-choice 
                            span.active Xem bản mẫu 
                            span.declared Chưa khai 
                li.content-item
                    .content-item__gr 
                        .item-img
                            img(src="./assets/images/payment-113/docx.png", alt="") 
                        .item-des
                            h4.item-title Bản sao Giấy chứng minh thư nhân dân hoặc Thẻ căn cước công dân hoặc hộ chiếu đang còn giá trị hoặc Thẻ quân nhân của người có đơn đề nghị thuê nhà ở; trường hợp là vợ chồng phải có thêm bản sao có chứng thực sổ hộ khẩu gia đình hoặc giấy đăng ký kết hôn;
                li.content-item 
                    .content-item__gr 
                        .item-img
                            img(src="./assets/images/payment-113/docx.png", alt="") 
                        h4.item-title Mẫu đơn đề nghị cấp phép ABC XYZ
                        .item-choice 
                            span.active Xem bản mẫu 
                            span.seen Đã khai 
                            span.print in ngay 
            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Cách thức thực hiện:
            .list-gr__contend    
                p.list-gr__descrip  Nộp hồ sơ tại đơn vị quản lý vận hành nhà ở hoặc Sở Xây dựng nơi có nhà ở 
            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Trình tự thực hiện:
            .list-gr__contend    
                p.list-gr__descrip  a) Trình tự, thủ tục thuê nhà ở cũ đối với trường hợp quy định tại Điểm b Khoản 2 Điều 57 Nghị định 99/2015/NĐ-CP được thực hiện như sau:
                p.list-gr__descrip  - Người đề nghị thuê nhà ở nộp 02 bộ hồ sơ tại đơn vị quản lý vận hành nhà ở hoặc tại Sở Xây dựng (do Ủy ban nhân dân cấp tỉnh quy định);
                p.list-gr__descrip - Cơ quan tiếp nhận hồ sơ có trách nhiệm kiểm tra, viết giấy biên nhận hồ sơ; trường hợp người nộp đơn không thuộc đối tượng được thuê nhà ở cũ thì phải có văn bản thông báo cho người hộp hồ sơ biết rõ lý do; nếu hồ sơ còn thiếu giấy tờ thì cơ quan tiếp nhận hồ sơ phải hướng dẫn ngay để người nộp hồ sơ bổ sung giấy tờ. Trường hợp đơn vị quản lý vận hành nhà ở tiếp nhận hồ sơ thì phải báo cáo Sở Xây dựng xem xét;
                p.list-gr__descrip - Trên cơ sở hồ sơ đủ điều kiện tiếp nhận, cơ quan quản lý nhà ở có trách nhiệm kiểm tra, lập tờ trình kèm theo dự thảo quyết định phê duyệt đối tượng được thuê nhà ở cũ trình cơ quan đại diện chủ sở hữu quyết định;
                .more
                    p.list-gr__descrip - Căn cứ vào đề nghị của cơ quan quản lý nhà ở, cơ quan đại diện chủ sở hữu nhà ở xem xét, ban hành quyết định phê duyệt đối tượng được thuê nhà ở, sau đó gửi quyết định này cho cơ quan quản lý nhà ở để thông báo cho đơn vị quản lý vận hành nhà ở thực hiện ký kết hợp đồng thuê nhà ở. Trường hợp nhà ở cũ do Bộ Quốc phòng đang quản lý mà giao thẩm quyền quyết định đối tượng được thuê nhà ở cho cơ quan quản lý nhà ở thì cơ quan này ban hành quyết định phê duyệt đối tượng được thuê nhà ở.
                    p.list-gr__descrip - Sau khi có quyết định phê duyệt đối tượng được thuê nhà ở cũ, đơn vị quản lý vận hành nhà ở thực hiện ký kết hợp đồng với người thuê nhà ở.
                    p.list-gr__descrip b) Trình tự, thủ tục ký hợp đồng thuê nhà ở đối với trường hợp quy định tại Điểm c và Điểm d Khoản 2 Điều 57 của Nghị định 99/2015/NĐ-CP được thực hiện như sau:
                    p.list-gr__descrip - Trường hợp người đang sử dụng nhà ở nhận chuyển quyền thuê nhà ở trước ngày 06 tháng 6 năm 2013, là ngày Nghị định số 34/2013/NĐ-CP ngày 22 tháng 4 năm 2013 của Chính phủ về quản lý sử dụng nhà ở thuộc sở hữu nhà nước có hiệu lực thi hành (sau đây gọi chung là Nghị định số 34/2013/NĐ-CP) thì người đề nghị thuê nhà ở nộp 02 bộ hồ sơ quy định tại Khoản 1 Điều này tại đơn vị quản lý vận hành nhà ở hoặc tại Sở Xây dựng (do Ủy ban nhân dân cấp tỉnh quy định). Sau khi tiếp nhận hồ sơ, cơ quan tiếp nhận hồ sơ có trách nhiệm kiểm tra, nếu hồ sơ hợp lệ thì đăng tải 03 lần liên tục thông tin về nhà ở cho thuê trên báo của địa phương và trên Cổng thông tin điện tử của đơn vị mình; trường hợp Sở Xây dựng tiếp nhận hồ sơ thì chuyển cho đơn vị quản lý vận hành nhà ở để thực hiện việc đăng tin.
                    p.list-gr__descrip - Sau 30 ngày, kể từ ngày đăng tin lần cuối, nếu không có tranh chấp, khiếu kiện về nhà ở cho thuê thì đơn vị quản lý vận hành nhà ở ký hợp đồng với người thuê và báo cáo Sở Xây dựng biết để theo dõi, quản lý; nếu có tranh chấp, khiếu kiện về nhà ở này thì chỉ thực hiện ký hợp đồng thuê sau khi đã giải quyết xong tranh chấp, khiếu kiện;
                    p.list-gr__descrip c) Trường hợp người đang sử dụng nhà ở là người nhận chuyển quyền thuê nhà ở từ ngày 06 tháng 6 năm 2013 thì người đề nghị thuê nhà ở nộp 02 bộ hồ sơ quy định tại đơn vị quản lý vận hành nhà ở hoặc tại cơ quan quản lý nhà ở (do Ủy ban nhân dân cấp tỉnh quy định).
                    p.list-gr__descrip Trường hợp cơ quan quản lý nhà ở tiếp nhận hồ sơ thì cơ quan quản lý nhà ở có trách nhiệm kiểm tra, nếu nhà ở không có tranh chấp, khiếu kiện thì có văn bản đồng ý về việc chuyển nhượng quyền thuê và gửi văn bản này kèm theo bản sao hồ sơ đề nghị thuê nhà cho đơn vị quản lý vận hành nhà ở để thực hiện ký hợp đồng với người thuê; trường hợp đơn vị quản lý vận hành tiếp nhận hồ sơ thì đơn vị quản lý vận hành có trách nhiệm kiểm tra và báo cáo cơ quan quản lý nhà ở xem xét kiểm tra để có văn bản đồng ý việc chuyển nhượng quyền thuê trước khi thực hiện ký kết hợp đồng; trường hợp cơ quan quản lý nhà ở không đồng ý thì phải có văn bản trả lời rõ lý do cho người đề nghị thuê nhà ở biết.
                .btn_readmore.active    
                    a.btn_color.myBtn Xem đầy đủ 
                        span 
                            i(class="fas fa-chevron-down")
            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/ic.png", alt="") 
                h4.item-title Thời hạn giải quyết:
            .list-gr__contend    
                p.list-gr__descrip  Không quá 30 ngày, kể từ ngày cơ quản tiếp nhận hồ sơ nhận đủ hồ sơ hợp lệ.
            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Đối tượng thực hiện thủ tục hành chính: 
            .list-gr__contend    
                p.list-gr__descrip  Người thuê nhà ở cũ
            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Cơ quan thực hiện thủ tục hành chính: 
            .list-gr__contend    
                p.list-gr__descrip  - Cơ quan có thẩm quyền quyết định: Cơ quan đại diện chủ sở hữu nhà ở
                p.list-gr__descrip  - Cơ quan thực hiện: Sở Xây dựng, đơn vị quản lý vận hành nhà ở

            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Kết quả thực hiện thủ tục hành chính: 
            .list-gr__contend    
                p.list-gr__descrip  Quyết định đối tượng được thuê nhà ở cũ thuộc sở hữu nhà nước.
            .list-gr__item 
                .item-img
                    img(src="./assets/images/payment-113/small.png", alt="") 
                h4.item-title Lệ phí:
            .list-gr__contend    
                p.list-gr__descrip Không
.col-lg-4 
    include ../components/regulation-dont-payment.pug
    +regulation-dont-payment(true)