.recent-books
    .container 
        .row 
            .col-lg-3.col-md-4
                include ../components/account-sidebar.pug
                +slide__bar("ebook")
            .col-lg-9.col-md-8
                .recent__content
                    .recent__book
                        h3.recent__book-heading Sách đang đọc gần đây nhất
                        .recent__book-content
                            div(class="lazy lazy-opacity bg-layout bg-book-detail-2" data-bg="./assets/images/recent-books/recent-book.png")
                            .content__description 
                                p.content__description-heading  Các đô thị Việt Nam quá trình hình thành, phát triển và quy hoạch đô thị. Tập 1: Hà Nội, Hải Phòng, Vinh, Huế, Đà Nẵng, Hội An, Đà Lạt, Nha Trang, Buôn Ma Thuột, Cần Thơ
                                .content__description-subheading 
                                    .subheading__author.d-flex.align-items-center
                                        img(class="lazy" data-src="./assets/images/recent-books/author.svg", alt="")
                                        p Tác giả: 
                                            a(href="#") Dương Vân
                                    .subheading__time.d-flex.align-items-center
                                        img(class="lazy" data-src="./assets/images/recent-books/time.svg", alt="")
                                        p 
                                            | còn 
                                            a(href="#") 3 
                                            | ngày đọc
                                .content__description-button 
                                    a(href="#").btn.btn-primary.blue Đọc thêm 
                                        img(class="lazy" data-src="./assets/images/recent-books/forward.svg", alt="")
                                    a(href="#").btn.btn-primary.green Gia hạn 
                    .recent__ebook 
                        .detail__wrapper-right
                            .wrapper__right
                                .wrapper__right-tabbar
                                    .tabbar 
                                        .row.ml-0.mr-0.pd-0
                                            .col-lg-9.pl-0.d-flex
                                                h6.headding.d-flex.align-items-center Ebook đang đọc
                                            .col-lg-3.pr-0.pl-0
                                                .select-dropdown
                                                    select.form-control.form-control-lg.content-title 
                                                        option.content-title  Sắp xếp theo
                                                        option.content-title  Theo giá từ thấp đến cao
                                                        option.content-title  Theo giá từ cao đến thấp
                                                        option.content-title  Năm xuất bản
                                                        option.content-title  Theo thời gian
                                .wrapper__right-book
                                    .row
                                        each item in [1,2,3,4,5,6,7,8]
                                            .col-lg-3.col-md-6
                                                include ../components/reading-book.pug
                    .wrapper__pagination
                                include ../components/pagination.pug

