.regulation__document
    .regulation__document-breadcrum
        include ../components/breadcrumb.pug
        +brcrumb('Văn bản pháp quy')
    .regulation__document-content
        .container
            .row
                .col-lg-3
                    .document__content-category
                        .content__category-title
                            h4 Danh mục văn bản
                        .content__category-list
                            each item in [1,2,3,4,5,6,7,8]
                                .category__list-items.d-flex.align-items-center
                                    .list__item-icon 
                                        svg(width='21' height='24' viewbox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M2.08415 23.9999H1.38943C1.02093 23.9999 0.667524 23.8192 0.406955 23.4978C0.146386 23.1763 0 22.7402 0 22.2856V4.28557C0 3.83092 0.146386 3.39488 0.406955 3.07339C0.667524 2.7519 1.02093 2.57129 1.38943 2.57129H2.08415C2.45265 2.57129 2.80605 2.7519 3.06662 3.07339C3.32719 3.39488 3.47358 3.83092 3.47358 4.28557V22.2856C3.47358 22.7402 3.32719 23.1763 3.06662 23.4978C2.80605 23.8192 2.45265 23.9999 2.08415 23.9999Z' fill='#828282')
                                            path(d='M9.72606 7.71429C9.72606 7.25963 9.57967 6.82359 9.3191 6.5021C9.05854 6.18061 8.70513 6 8.33663 6H5.55777C5.18927 6 4.83586 6.18061 4.57529 6.5021C4.31472 6.82359 4.16833 7.25963 4.16833 7.71429V9.21429C4.16833 9.27112 4.18663 9.32562 4.2192 9.36581C4.25178 9.406 4.29595 9.42857 4.34201 9.42857H9.55238C9.59844 9.42857 9.64262 9.406 9.67519 9.36581C9.70776 9.32562 9.72606 9.27112 9.72606 9.21429V7.71429Z' fill='#828282')
                                            path(d='M4.16833 22.2856C4.16833 22.7402 4.31472 23.1763 4.57529 23.4978C4.83586 23.8192 5.18927 23.9999 5.55777 23.9999H8.33663C8.70513 23.9999 9.05854 23.8192 9.3191 23.4978C9.57967 23.1763 9.72606 22.7402 9.72606 22.2856V20.6784C9.72606 20.65 9.71691 20.6228 9.70062 20.6027C9.68434 20.5826 9.66225 20.5713 9.63922 20.5713H4.25517C4.23214 20.5713 4.21006 20.5826 4.19377 20.6027C4.17748 20.6228 4.16833 20.65 4.16833 20.6784V22.2856Z' fill='#828282')
                                            path(d='M9.63922 11.1426H4.25517C4.20721 11.1426 4.16833 11.1905 4.16833 11.2497V18.7497C4.16833 18.8089 4.20721 18.8569 4.25517 18.8569H9.63922C9.68718 18.8569 9.72606 18.8089 9.72606 18.7497V11.2497C9.72606 11.1905 9.68718 11.1426 9.63922 11.1426Z' fill='#828282')
                                            path(d='M13.1996 24H11.8102C11.4417 24 11.0883 23.8194 10.8277 23.4979C10.5672 23.1764 10.4208 22.7404 10.4208 22.2857V1.71429C10.4208 1.25963 10.5672 0.823593 10.8277 0.502103C11.0883 0.180612 11.4417 0 11.8102 0H13.1996C13.5681 0 13.9215 0.180612 14.1821 0.502103C14.4427 0.823593 14.5891 1.25963 14.5891 1.71429V22.2857C14.5891 22.7404 14.4427 23.1764 14.1821 23.4979C13.9215 23.8194 13.5681 24 13.1996 24Z' fill='#828282')
                                            path(d='M20.8369 22.1494L19.4375 3.93514C19.3733 3.09674 18.702 2.48871 17.9382 2.57924L16.5553 2.73996C15.7916 2.82942 15.2245 3.58157 15.2888 4.41996L16.6882 22.6342C16.7525 23.4726 17.4237 24.0807 18.1875 23.9901L19.5704 23.8294C20.3341 23.74 20.9012 22.9878 20.8369 22.1494Z' fill='#828282')
                                    a(href="#").list__item-content Danh mục 1
                .col-lg-9
                    .document__content-regulation
                        .content__regulation-other
                            .regulation__other-title
                                h3 Các loại văn bản pháp quy
                            .regulation__other-list
                                .row
                                    each item in [1,2,3,4,5,6,7,8]
                                        .col-lg-3
                                            .other__list-items.d-flex.flex-column.justify-content-center.align-items-center.text-center
                                                .list__items-icon
                                                    svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M37.5858 8.5H17.5C16.9477 8.5 16.5 8.9477 16.5 9.5V48.5C16.5 49.0523 16.9477 49.5 17.5 49.5H46.5C47.0523 49.5 47.5 49.0523 47.5 48.5V18.4142C47.5 18.149 47.3946 17.8946 47.2071 17.7071L38.2929 8.7929C38.1054 8.60535 37.851 8.5 37.5858 8.5Z' fill='white' stroke='#979593' stroke-width='2' stroke-miterlimit='10')
                                                        path(d='M37.5 8.5V17.5C37.5 18.0523 37.9477 18.5 38.5 18.5H47.5' stroke='#979593' stroke-width='2' stroke-miterlimit='10')
                                                        path(d='M43.5 35.5H28V34.5H43.5C43.7761 34.5 44 34.7239 44 35C44 35.2761 43.7761 35.5 43.5 35.5ZM43.5 32.5H28V31.5H43.5C43.7761 31.5 44 31.7239 44 32C44 32.2761 43.7761 32.5 43.5 32.5ZM43.5 29.5H28V28.5H43.5C43.7761 28.5 44 28.7239 44 29C44 29.2761 43.7761 29.5 43.5 29.5ZM43.5 26.5H28V25.5H43.5C43.7761 25.5 44 25.7239 44 26C44 26.2761 43.7761 26.5 43.5 26.5ZM43.5 38.5H28V37.5H43.5C43.7761 37.5 44 37.7239 44 38C44 38.2761 43.7761 38.5 43.5 38.5Z' fill='#C8C6C4')
                                                        path(d='M10 42H26C27.1045 42 28 41.1045 28 40V24C28 22.8954 27.1045 22 26 22H10C8.89545 22 8 22.8954 8 24V40C8 41.1045 8.89545 42 10 42Z' fill='#185ABD')
                                                        path(d='M14.8123 35.3228C14.8453 35.5837 14.8668 35.8112 14.8771 36.0056H14.9151C14.9304 35.8214 14.9596 35.5991 15.0027 35.3382C15.0458 35.0776 15.0878 34.8576 15.1285 34.6786L16.8955 27H19.1806L21.0088 34.5636C21.1003 34.937 21.1764 35.4123 21.2372 35.9902H21.2677C21.2931 35.5913 21.3565 35.131 21.4581 34.6094L22.9207 27H25L22.4408 38H20.0109L18.2666 30.7128C18.2158 30.5029 18.1587 30.2297 18.0952 29.892C18.0317 29.5547 17.9923 29.3092 17.9772 29.1558H17.9468C17.9265 29.3348 17.8871 29.6006 17.8286 29.9533C17.7701 30.3064 17.7231 30.5669 17.6876 30.7358L16.05 38H13.5822L11 27H13.1174L14.7096 34.6941C14.7451 34.8523 14.7792 35.0622 14.8123 35.3228Z' fill='white')
                                                a.list__items-link Lĩnh vực quản lý chất lượng công trình xây dựng, giám định tư pháp         
                        .content__regulation-files
                            .regulation__files-title
                                h3 Danh sách hồ sơ
                            .regulation__files-list
                                each item in [1,2,3,4,5]
                                    .files__list-items.d-flex
                                        .list__items-icon
                                            svg(width='68' height='68' viewbox='0 0 68 68' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M47.5799 4.95801H19.125C18.3426 4.95801 17.7084 5.59225 17.7084 6.37467V61.6247C17.7084 62.4071 18.3426 63.0413 19.125 63.0413H60.2084C60.9908 63.0413 61.625 62.4071 61.625 61.6247V19.0031C61.625 18.6274 61.4758 18.2671 61.2101 18.0014L48.5817 5.37295C48.316 5.10725 47.9556 4.95801 47.5799 4.95801Z' fill='white' stroke='#979593' stroke-width='2' stroke-miterlimit='10')
                                                path(d='M47.4584 4.95801V17.708C47.4584 18.4904 48.0926 19.1247 48.875 19.1247H61.625' stroke='#979593' stroke-width='2' stroke-miterlimit='10')
                                                path(d='M55.9583 43.2087H34V41.792H55.9583C56.3495 41.792 56.6667 42.1091 56.6667 42.5003C56.6667 42.8915 56.3495 43.2087 55.9583 43.2087ZM55.9583 38.9587H34V37.542H55.9583C56.3495 37.542 56.6667 37.8591 56.6667 38.2503C56.6667 38.6415 56.3495 38.9587 55.9583 38.9587ZM55.9583 34.7087H34V33.292H55.9583C56.3495 33.292 56.6667 33.6091 56.6667 34.0003C56.6667 34.3915 56.3495 34.7087 55.9583 34.7087ZM55.9583 30.4587H34V29.042H55.9583C56.3495 29.042 56.6667 29.3591 56.6667 29.7503C56.6667 30.1415 56.3495 30.4587 55.9583 30.4587ZM55.9583 47.4587H34V46.042H55.9583C56.3495 46.042 56.6667 46.3591 56.6667 46.7503C56.6667 47.1415 56.3495 47.4587 55.9583 47.4587Z' fill='#C8C6C4')
                                                path(d='M8.49996 52.4163H31.1666C32.7314 52.4163 34 51.1478 34 49.583V26.9163C34 25.3516 32.7314 24.083 31.1666 24.083H8.49996C6.93518 24.083 5.66663 25.3516 5.66663 26.9163V49.583C5.66663 51.1478 6.93518 52.4163 8.49996 52.4163Z' fill='#185ABD')
                                                path(d='M15.3173 42.9576C15.3641 43.3273 15.3945 43.6495 15.4091 43.9249H15.4631C15.4848 43.6639 15.5261 43.3491 15.5871 42.9794C15.6482 42.6103 15.7077 42.2987 15.7654 42.0451L18.2687 31.167H21.5059L24.0957 41.8821C24.2253 42.4111 24.3332 43.0843 24.4194 43.9031H24.4625C24.4984 43.3379 24.5883 42.6859 24.7323 41.947L26.8042 31.167H29.75L26.1245 46.7503H22.682L20.211 36.4268C20.139 36.1295 20.0581 35.7423 19.9682 35.2639C19.8782 34.7862 19.8225 34.4383 19.801 34.221H19.7579C19.7291 34.4746 19.6733 34.8511 19.5905 35.3508C19.5077 35.851 19.441 36.2201 19.3908 36.4593L17.0708 46.7503H13.5747L9.91663 31.167H12.9163L15.1719 42.067C15.2221 42.2912 15.2705 42.5884 15.3173 42.9576Z' fill='white')
                                        .list__items-content.d-flex
                                            .items__content-decription
                                                <p> <span> Số/Ký hiệu:</span> số 832/QĐ-BXD </p>
                                                <p> <span> Ngày ban hành:</span> 29/8/2016 </p>
                                                <p class="mg-bt-0"> <span> Trích yếu:</span>  Công bố thủ tục hành chính thay thế và thủ tục hành chính bị hủy bỏ hoặc bãi bỏ trong lĩnh vực kinh doanh bất động sản thuộc phạm vi chức năng quản lý nhà nước của Bộ Xây dựng. </p>                                                      
                                        .list__items-button.d-flex.flex-column
                                            <p> <span> Giá trọn bộ:</span>  50.000đ </p>     
                                            button.button-blue.content__button-btn.d-flex.justify-content-center.align-items-center
                                                a(href="") Xem chi tiết 
                                            button.button-color.content__button-btn.d-flex.justify-content-center.align-items-center
                                                a(href="") Điền và tải mẫu này     
                            .regulation__files-pagination
                                include ../components/pagination.pug                                                   