.resgiter__mb
    .container
        .row
            .resgiter__mb-title.d-flex.justify-content-between.align-items-center.flex-row-reverse
                h3 Đăng ký
                a(href="./login-mobie.html") Đăng nhập
            form(action="./my-account-mobile-main.html",class="login__mb-form")
                .mb__form-gmail.mg-top-bottom.d-flex
                    .form__gmail-icon.icon-border.icon__small
                        svg(width='17' height='16' viewbox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M8.36258 9.33336C10.6687 9.33336 12.5441 7.53935 12.5441 5.33335V4.00001C12.5441 1.79401 10.6687 0 8.36258 0C6.05649 0 4.18109 1.79401 4.18109 4.00001V5.33335C4.18109 7.53935 6.05649 9.33336 8.36258 9.33336ZM14.8252 8.3638H13.3047V9.81835H11.7841V11.2729H13.3047V12.7275H14.8252V11.2729H16.3458V9.81835H14.8252V8.3638ZM10.3805 10.6667C10.7031 12.188 12.1165 13.8275 14.6583 13.8275C15.1761 13.8275 15.6632 13.7129 16.1044 13.5189C16.1321 13.5652 16.159 13.6098 16.1849 13.6528C16.5407 14.2432 16.726 14.5505 16.726 15.3334V16H0V15.3334C0 12.76 2.18901 10.6667 4.87841 10.6667H10.3805Z' fill='#91909A')
                    input(type="gmail",class="form__gmail-email",placeholder="Nhập tên người dùng")
                .mb__form-number.mg-top-bottom.d-flex.justify-content-center.align-items-center
                    .form__number-icon.icon-border.icon__small
                        svg(width='15' height='16' viewbox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M9.58183 9.75114L8.04018 11.4395L4.10415 7.06515L5.62334 5.35181C5.81125 5.13937 5.86501 4.8218 5.75941 4.54799L4.17746 0.444493C4.04821 0.110037 3.71795 -0.0686426 3.40135 0.0245998L0.495068 0.877599C0.195984 0.963603 -0.00950986 1.26851 0.000339326 1.61168C0.185178 5.36568 1.58964 8.91755 3.95289 11.6076C6.37418 14.2344 9.57116 15.7951 12.9498 15.9996C13.2586 16.0106 13.533 15.7822 13.6103 15.4498L14.3779 12.2199C14.4618 11.868 14.301 11.501 14 11.3573L10.3077 9.59919C10.0605 9.48069 9.77332 9.5408 9.58183 9.75114Z' fill='#91909A')
                    input(type="number" placeholder="Số điện thoại của bạn")
                .mb__form-mygamail.mg-top-bottom.d-flex.justify-content-center.align-items-center
                    .form__mygmail-icon.icon-border.icon__small
                        svg(width='16' height='12' viewbox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M7.99994 6L-6.10352e-05 1.95313V1C-6.10352e-05 0.71875 0.0988973 0.481771 0.296814 0.289063C0.494731 0.0963542 0.729106 0 0.999939 0H14.9999C15.2708 0 15.5051 0.0963542 15.7031 0.289063C15.901 0.481771 15.9999 0.71875 15.9999 1V1.95313L7.99994 6ZM7.49994 7H8.49994L15.9999 3.10938V11C15.9999 11.2708 15.901 11.5052 15.7031 11.7031C15.5051 11.901 15.2708 12 14.9999 12H0.999939C0.729106 12 0.494731 11.901 0.296814 11.7031C0.0988973 11.5052 -6.10352e-05 11.2708 -6.10352e-05 11V3.10938L7.49994 7Z' fill='#91909A')
                    input(type="gmail",class="form__gmail-email",placeholder="Nhập tên người dùng")
                .mb__form-password.mg-top-bottom.d-flex
                    .form__password-icon.icon-border.icon__small
                        svg(width='14' height='19' viewbox='0 0 14 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M12 6.66658H11.1667V4.99992C11.1667 2.69992 9.29999 0.833252 6.99999 0.833252C4.69999 0.833252 2.83333 2.69992 2.83333 4.99992V6.66658H1.99999C1.07916 6.66658 0.333328 7.41242 0.333328 8.33325V16.6666C0.333328 17.5874 1.07916 18.3333 1.99999 18.3333H12C12.9208 18.3333 13.6667 17.5874 13.6667 16.6666V8.33325C13.6667 7.41242 12.9208 6.66658 12 6.66658ZM6.99999 14.1666C6.07916 14.1666 5.33333 13.4208 5.33333 12.4999C5.33333 11.5791 6.07916 10.8333 6.99999 10.8333C7.92083 10.8333 8.66666 11.5791 8.66666 12.4999C8.66666 13.4208 7.92083 14.1666 6.99999 14.1666ZM9.58333 6.66658H4.41666V4.99992C4.41666 3.57492 5.57499 2.41659 6.99999 2.41659C8.42499 2.41659 9.58333 3.57492 9.58333 4.99992V6.66658Z' fill='#91909A')
                    .form__showPassword.d-flex
                        input(type="password" placeholder="Mật khẩu" class="nxb__pw")
                        .form__showPassword-icon.icon__small
                            <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.2772 0.231734C16.9802 -0.0772445 16.4991 -0.0772445 16.2021 0.231734L13.1143 3.44903C11.8898 2.76016 10.5226 2.39253 9.13101 2.37792C3.75068 2.37792 0.262705 8.05696 0.116612 8.29877C-0.0388708 8.55663 -0.0388708 8.88449 0.116612 9.14234C1.11299 10.6917 2.3647 12.0451 3.81383 13.1398L1.74494 15.2955C1.54244 15.4933 1.45943 15.7904 1.52834 16.0706C1.59725 16.3508 1.80715 16.5697 2.07602 16.6417C2.34489 16.7137 2.63006 16.6274 2.82009 16.4165L17.2772 1.35279C17.5743 1.04319 17.5743 0.541333 17.2772 0.231734ZM6.08741 8.72055C6.08741 6.96908 7.45008 5.54924 9.13101 5.54924C9.67166 5.5522 10.2012 5.70961 10.6619 6.00432L6.52416 10.3149C6.24177 9.83491 6.09074 9.28357 6.08741 8.72055ZM15.7027 5C16.6598 5.90875 17.5043 6.94245 18.216 8.07636C18.3725 8.34029 18.3725 8.67586 18.216 8.93979C18.0689 9.18729 14.5587 15 9.14392 15C8.30248 14.9944 7.4669 14.8513 6.66667 14.5756L15.7027 5Z" fill="#C1C0C8"/></svg>
                .mb__form-password.mg-top-bottom.input__last.d-flex
                    .form__password-icon.icon-border.icon__small
                        svg(width='14' height='19' viewbox='0 0 14 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M12 6.66658H11.1667V4.99992C11.1667 2.69992 9.29999 0.833252 6.99999 0.833252C4.69999 0.833252 2.83333 2.69992 2.83333 4.99992V6.66658H1.99999C1.07916 6.66658 0.333328 7.41242 0.333328 8.33325V16.6666C0.333328 17.5874 1.07916 18.3333 1.99999 18.3333H12C12.9208 18.3333 13.6667 17.5874 13.6667 16.6666V8.33325C13.6667 7.41242 12.9208 6.66658 12 6.66658ZM6.99999 14.1666C6.07916 14.1666 5.33333 13.4208 5.33333 12.4999C5.33333 11.5791 6.07916 10.8333 6.99999 10.8333C7.92083 10.8333 8.66666 11.5791 8.66666 12.4999C8.66666 13.4208 7.92083 14.1666 6.99999 14.1666ZM9.58333 6.66658H4.41666V4.99992C4.41666 3.57492 5.57499 2.41659 6.99999 2.41659C8.42499 2.41659 9.58333 3.57492 9.58333 4.99992V6.66658Z' fill='#91909A')
                    .form__showPassword.d-flex
                        input(type="password" placeholder="Xác nhận mật khẩu" class="nxb__pw")
                        .form__showPassword-icon.icon__small
                            <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.2772 0.231734C16.9802 -0.0772445 16.4991 -0.0772445 16.2021 0.231734L13.1143 3.44903C11.8898 2.76016 10.5226 2.39253 9.13101 2.37792C3.75068 2.37792 0.262705 8.05696 0.116612 8.29877C-0.0388708 8.55663 -0.0388708 8.88449 0.116612 9.14234C1.11299 10.6917 2.3647 12.0451 3.81383 13.1398L1.74494 15.2955C1.54244 15.4933 1.45943 15.7904 1.52834 16.0706C1.59725 16.3508 1.80715 16.5697 2.07602 16.6417C2.34489 16.7137 2.63006 16.6274 2.82009 16.4165L17.2772 1.35279C17.5743 1.04319 17.5743 0.541333 17.2772 0.231734ZM6.08741 8.72055C6.08741 6.96908 7.45008 5.54924 9.13101 5.54924C9.67166 5.5522 10.2012 5.70961 10.6619 6.00432L6.52416 10.3149C6.24177 9.83491 6.09074 9.28357 6.08741 8.72055ZM15.7027 5C16.6598 5.90875 17.5043 6.94245 18.216 8.07636C18.3725 8.34029 18.3725 8.67586 18.216 8.93979C18.0689 9.18729 14.5587 15 9.14392 15C8.30248 14.9944 7.4669 14.8513 6.66667 14.5756L15.7027 5Z" fill="#C1C0C8"/></svg>
                .login__mb-btn.d-flex.justify-content-center.align-items-center
                    button.mb__btn-btn Đăng ký
            .login__mb-forget.text-center
                a(href="./password-reset-mobile.html") Quên mật khẩu
            .login__mb-other.d-flex.flex-column.justify-content-center.align-items-center
                span —— Hoặc đăng nhập với ——
                .mb__other-select.d-flex
                    .other__select-oval.d-flex.justify-content-center.align-items-center
                        a(href="#",class="select select__first")
                            img(class="lazy" data-src="./assets/images/login-mb/google-icon-svg-26.jpg" src="./assets/images/login-mb/google-icon-svg-26.jpg", alt="")
                    .other__select-oval.d-flex.justify-content-center.align-items-center.oval-second
                        a(href="#",class="select select__second")
                            .f.d-flex.justify-content-center.align-items-center f
                    .other__select-oval.d-flex.justify-content-center.align-items-center.oval-third
                        a(href="#",class="select select__third")
                            img(class="lazy" data-src="./assets/images/login-mb/shape.svg" src="./assets/images/login-mb/shape.svg", alt="")
